In [1]:
import pandas as pd

In [4]:
path = r"C:\Users\VY72PC\PycharmProjects\Academia\Data\pm25_weer.csv"

In [6]:
df = pd.read_csv(path)
df.head(50)

,id,no2,pm10,pm10_cal,pm10_fac,pm10_max,pm10_min,pm25,pm25_cal,pm25_fac,...,YYYYMMDD,jaar,maand,weeknummer,dag,H,T,U,DD,FH
0,1,NaN,8.195,8.774,1.070000,8.39,8.00,4.000,1.640,0.410000,...,20190712,2019,7,28,12,14,173,86,320,60
1,4,NaN,17.258,18.165,1.052000,20.10,15.60,11.176,4.256,0.381000,...,20190712,2019,7,28,12,14,173,86,320,60
2,5,NaN,19.952,20.497,1.027000,24.40,16.50,10.810,3.996,0.370000,...,20190712,2019,7,28,12,14,173,86,320,60
3,7,NaN,20.278,21.216,1.042000,24.40,16.20,11.510,4.292,0.371000,...,20190712,2019,7,28,12,14,173,86,320,60
4,10,NaN,18.099,19.186,1.062000,21.90,14.70,8.942,3.471,0.390000,...,20190712,2019,7,28,12,14,173,86,320,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349808,199,33.4319,24.660,16.796,0.681103,28.50,20.50,11.910,9.877,0.829303,...,20221022,2022,10,42,22,23,127,92,140,20
1349809,200,43.1974,0.000,0.000,NaN,0.00,0.00,0.000,0.000,NaN,...,20221022,2022,10,42,22,23,127,92,140,20
1349810,212,2.5000,23.074,22.407,0.971261,29.30,18.29,7.887,11.534,1.461850,...,20221022,2022,10,42,22,23,127,92,140,20
1349811,213,39.1156,37.694,36.569,0.970257,60.80,24.40,9.182,13.432,1.463180,...,20221022,2022,10,42,22,23,127,92,140,20
1349812,217,16.4588,9.600,11.136,1.160000,9.60,9.60,7.100,8.946,1.260000,...,20221022,2022,10,42,22,23,127,92,140,20

In [41]:
descriptive = list()

for i, name in enumerate(df['tag'].unique()):
    descriptive.append({
        'Municipality': name,
        'No. of Sensors': len(df[df["tag"] == name]["id"].unique()),
        'No. of Streets': len(df[df["tag"] == name]["name"].unique()),
        'No. of Observations': df[df["tag"] == name].mean(),
        'Average Longitude': df[df["tag"] == name]["longitude"].mean(),
        'Average latitude': len(df[df["tag"] == name]["latitude"])
    })
descriptive = pd.DataFrame(descriptive)

C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),
C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\1093551307.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'No. of Observations': df[df["tag"] == name].mean(),

In [42]:
descriptive.to_latex(index=False, float_format="{{:0.2f}}".format)

C:\Users\VY72PC\AppData\Local\Temp\ipykernel_22336\2087719265.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  descriptive.to_latex(index=False, float_format="{{:0.2f}}".format)

'\\begin{tabular}{lrrlrr}\n\\toprule\n    Municipality &  No. of Sensors &  No. of Streets &                                No. of Observations &  Average Longitude &  Average latitude \\\\\n\\midrule\n       Beverwijk &              26 &              23 & id            7.423827e+01\nno2          -2.2371... &            \\{:0.2f\\} &            323822 \\\\\n       Heemskerk &              11 &              10 & id            1.254179e+02\nno2          -1.2342... &            \\{:0.2f\\} &            153985 \\\\\n    Velsen-Noord &               4 &               4 & id            9.257331e+01\nno2          -9.9900... &            \\{:0.2f\\} &             52202 \\\\\n    Wijk aan Zee &              13 &               8 & id            1.266497e+02\nno2          -1.4771... &            \\{:0.2f\\} &            125228 \\\\\n        IJmuiden &              12 &              10 & id            1.094089e+02\nno2          -7.4578... &            \\{:0.2f\\} &            144191 \\\\\n        Driehuis &               4 &               3 & id            1.074369e+02\nno2          -6.2337... &            \\{:0.2f\\} &             53276 \\\\\n       Amsterdam &              21 &              16 & id            1.463108e+02\nno2          -1.1105... &            \\{:0.2f\\} &            313914 \\\\\n         Zaandam &              11 &               9 & id            1.675510e+02\nno2          -5.6757... &            \\{:0.2f\\} &            150295 \\\\\nKoog aan de Zaan &               1 &               1 & id            2.150000e+02\nno2           2.2995... &            \\{:0.2f\\} &             11233 \\\\\n     Velsen-Zuid &               1 &               1 & id            1.950000e+02\nno2          -5.2758... &            \\{:0.2f\\} &             13572 \\\\\n        Uithoorn &               1 &               1 & id            6.000000e+00\nno2                 ... &            \\{:0.2f\\} &              8095 \\\\\n\\bottomrule\n\\end{tabular}\n'