In [80]:
from statsmodels.tsa.api import AutoReg, VAR
from stargazer.stargazer import Stargazer
from geopy.distance import great_circle
import matplotlib.pyplot as plt
from tqdm import tqdm
import pandas as pd
import numpy as np

In [81]:
data = pd.read_csv(r"/Users/main/Vault/Thesis/Data/pm25_weer.csv")
data["Wind"] = np.cos(data["DD"]) * (data["U"] * 1.852)
data

,id,no2,pm10,pm10_cal,pm10_fac,pm10_max,pm10_min,pm25,pm25_cal,pm25_fac,...,jaar,maand,weeknummer,dag,H,T,U,DD,FH,Wind
0,1,NaN,8.195,8.774,1.070000,8.39,8.00,4.000,1.640,0.410000,...,2019,7,28,12,14,173,86,320,60,143.934921
1,4,NaN,17.258,18.165,1.052000,20.10,15.60,11.176,4.256,0.381000,...,2019,7,28,12,14,173,86,320,60,143.934921
2,5,NaN,19.952,20.497,1.027000,24.40,16.50,10.810,3.996,0.370000,...,2019,7,28,12,14,173,86,320,60,143.934921
3,7,NaN,20.278,21.216,1.042000,24.40,16.20,11.510,4.292,0.371000,...,2019,7,28,12,14,173,86,320,60,143.934921
4,10,NaN,18.099,19.186,1.062000,21.90,14.70,8.942,3.471,0.390000,...,2019,7,28,12,14,173,86,320,60,143.934921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349808,199,33.4319,24.660,16.796,0.681103,28.50,20.50,11.910,9.877,0.829303,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349809,200,43.1974,0.000,0.000,NaN,0.00,0.00,0.000,0.000,NaN,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349810,212,2.5000,23.074,22.407,0.971261,29.30,18.29,7.887,11.534,1.461850,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349811,213,39.1156,37.694,36.569,0.970257,60.80,24.40,9.182,13.432,1.463180,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349812,217,16.4588,9.600,11.136,1.160000,9.60,9.60,7.100,8.946,1.260000,...,2022,10,42,22,23,127,92,140,20,-33.704268

In [82]:
data.columns

Index(['id', 'no2', 'pm10', 'pm10_cal', 'pm10_fac', 'pm10_max', 'pm10_min',
       'pm25', 'pm25_cal', 'pm25_fac', 'pm25_max', 'pm25_min', 'timestamp',
       'components', 'latitude', 'longitude', 'name', 'sensortype', 'tag',
       'datum', 'tijd', 'weekdag', 'uur', '#STN', 'YYYYMMDD', 'jaar', 'maand',
       'weeknummer', 'dag', 'H', 'T', 'U', 'DD', 'FH', 'Wind'],
      dtype='object')

In [83]:
data.drop(data.iloc[:, 0:7], axis=1, inplace=True)
data.drop(["jaar", "maand", "weeknummer", "#STN", "timestamp", "components", "dag", "tijd", "T", "datum", "H", "T", "U", "weekdag", "FH", "sensortype"], axis=1, inplace=True)
# data

In [84]:
grouped_df = data.groupby(["YYYYMMDD", "tag"])["pm25", "longitude", "latitude", "Wind"].mean().copy().reset_index()

/var/folders/7f/x1mp2wjd10vcy_krqb5_kwjc0000gn/T/ipykernel_43502/3344425063.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = data.groupby(["YYYYMMDD", "tag"])["pm25", "longitude", "latitude", "Wind"].mean().copy().reset_index()

In [85]:
grouped_df.head(5)

   YYYYMMDD        tag       pm25  longitude   latitude       Wind
0  20190625  Amsterdam  16.602565   4.866208  52.359714  -8.255864
1  20190625  Beverwijk  18.822000   4.650824  52.492369 -17.750135
2  20190626  Amsterdam  21.974609   4.866208  52.359714 -14.046547
3  20190626  Beverwijk   2.851417   4.657933  52.485871   2.343418
4  20190627  Amsterdam   4.484500   4.866208  52.359714  -7.320556

In [86]:
Locations = grouped_df["tag"].unique()
LocDict = dict()

for i in range(len(Locations)):
    LocDict[Locations[i]] = (grouped_df[grouped_df.tag == Locations[i]]["latitude"].mean(), grouped_df[grouped_df.tag == Locations[i]]["longitude"].mean())

LocDict

{'Amsterdam': (52.385565471780744, 4.901327224364789),
 'Beverwijk': (52.486366756022534, 4.658584737682753),
 'Heemskerk': (52.50593616684639, 4.671953092146708),
 'Wijk aan Zee': (52.493443775747366, 4.59824578234632),
 'Velsen-Noord': (52.47382287197285, 4.647238399148998),
 'Driehuis': (52.447194827537714, 4.636977030738782),
 'IJmuiden': (52.45820717461739, 4.615567828011168),
 'Velsen-Zuid': (52.46234499999992, 4.637255999999981),
 'Zaandam': (52.45848175659801, 4.824912486862412),
 'Koog aan de Zaan': (52.46407900000035, 4.811263999999972),
 'Uithoorn': (52.23809099999961, 4.8082289999999865)}

In [100]:
W = np.zeros((11, 11))

for i in range(len(LocDict)):
    for j in range(len(LocDict)):
        if i != j:
            W[i, j] = 1 / great_circle(LocDict[Locations[i]], LocDict[Locations[j]]).km
            
pd.DataFrame(W)

,0,1,2,3,4,5,6,7,8,9,10
0,0.000000,0.050226,0.048748,0.042035,0.050438,0.052102,0.047633,0.050410,0.103925,0.093859,0.056891
1,0.050226,0.000000,0.424320,0.240358,0.627957,0.217623,0.233800,0.329302,0.085581,0.094041,0.033993
2,0.048748,0.424320,0.000000,0.193082,0.253583,0.143926,0.152950,0.185648,0.086023,0.095066,0.032065
3,0.042035,0.240358,0.193082,0.000000,0.251844,0.173214,0.244498,0.229791,0.063146,0.067607,0.031474
4,0.050438,0.627957,0.253583,0.251844,0.000000,0.328792,0.362306,0.692351,0.082260,0.089577,0.035210
5,0.052102,0.217623,0.143926,0.173214,0.328792,0.000000,0.526740,0.593567,0.078144,0.083627,0.038463
6,0.047633,0.233800,0.152950,0.244498,0.362306,0.526740,0.000000,0.649445,0.070501,0.075331,0.036030
7,0.050410,0.329302,0.185648,0.229791,0.692351,0.593567,0.649445,0.000000,0.078608,0.084816,0.036354
8,0.103925,0.085581,0.086023,0.063146,0.082260,0.078144,0.070501,0.078608,0.000000,0.897148,0.040762
9,0.093859,0.094041,0.095066,0.067607,0.089577,0.083627,0.075331,0.084816,0.897148,0.000000,0.039794
10,0.056891,0.033993,0.032065,0.031474,0.035210,0.038463,0.036030,0.036354,0.040762,0.039794,0.000000

In [88]:
data2 = grouped_df.copy()
data2["New"] = data2["YYYYMMDD"].astype(str)
del data2["YYYYMMDD"]

In [89]:
data2.set_index("New", inplace=True)

In [90]:
del data2["latitude"]
del data2["longitude"]
data2

                   tag        pm25       Wind
New
20190625     Amsterdam   16.602565  -8.255864
20190625     Beverwijk   18.822000 -17.750135
20190626     Amsterdam   21.974609 -14.046547
20190626     Beverwijk    2.851417   2.343418
20190627     Amsterdam    4.484500  -7.320556
...                ...         ...        ...
20221022      IJmuiden    6.112711 -15.943545
20221022      Uithoorn    7.120000 -16.526770
20221022  Velsen-Noord    6.428708 -16.526770
20221022  Wijk aan Zee  119.772375 -16.526770
20221022       Zaandam    6.516025 -16.526770

[10723 rows x 3 columns]

In [91]:
UniqueNames = data2.tag.unique()

PolDict = {elem : pd.DataFrame() for elem in UniqueNames}
WindDict = {elem : pd.DataFrame() for elem in UniqueNames}

for key in PolDict.keys():
    PolDict[key] = data2[:][data2.tag == key]
    WindDict[key] = data2[:][data2.tag == key]
    del WindDict[key]["pm25"]
    del PolDict[key]["Wind"]

PolDict["Amsterdam"]

                tag       pm25
New
20190625  Amsterdam  16.602565
20190626  Amsterdam  21.974609
20190627  Amsterdam   4.484500
20190628  Amsterdam   7.430917
20190629  Amsterdam   7.474792
...             ...        ...
20221018  Amsterdam  59.648775
20221019  Amsterdam  49.008481
20221020  Amsterdam  57.314282
20221021  Amsterdam  68.504173
20221022  Amsterdam  59.205616

[1195 rows x 2 columns]

In [92]:
for key in WindDict:
    PolDict[key].rename(columns={"pm25":key}, inplace=True)
    WindDict[key].rename(columns={"Wind":key}, inplace=True)
    del PolDict[key]["tag"]
    del WindDict[key]["tag"]

WindDict["Amsterdam"]

          Amsterdam
New
20190625  -8.255864
20190626 -14.046547
20190627  -7.320556
20190628   1.658929
20190629   1.356580
...             ...
20221018  57.190670
20221019   7.033693
20221020   8.239286
20221021 -18.565540
20221022 -15.880023

[1195 rows x 1 columns]

In [ ]:
# for key in tqdm(DataFrameDict):
#     plt.figure(figsize=(16, 8))
#     plt.plot(DataFrameDict[key].pm25, label = key)
# plt.show

In [93]:
df_pol = pd.DataFrame(PolDict["Amsterdam"].copy())
df_wind = pd.DataFrame(WindDict["Amsterdam"].copy())

for key in PolDict:
    df_pol = df_pol.combine_first(PolDict[key])
    df_wind = df_wind.combine_first(PolDict[key])

df_wind

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
New,,,,,,,,,,,
20190625,-8.255864,18.822000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190626,-14.046547,2.851417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190627,-7.320556,4.010603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190628,1.658929,5.533953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190629,1.356580,9.006055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20221018,57.190670,44.425756,7.785098,3.995484,4.095699,NaN,5.980941,5.637824,NaN,117.669196,7.467459
20221019,7.033693,45.131791,11.062278,4.602050,5.595226,NaN,5.646750,6.915667,NaN,117.688819,5.922350
20221020,8.239286,55.310167,36.090788,15.024389,22.693654,NaN,27.862864,25.996136,NaN,130.220561,23.761873
20221021,-18.565540,56.444523,25.357472,8.620153,13.949158,NaN,17.413708,16.279917,NaN,124.021264,13.344158
20221022,-15.880023,44.434752,10.254000,4.203480,6.112711,NaN,7.120000,6.428708,NaN,119.772375,6.516025

In [94]:
for column in df_pol:
    mean_value = (df_pol[column].mean(), df_wind[column].mean())
    df_pol[column].fillna(value=mean_value[0], inplace = True)
    df_wind[column].fillna(value=mean_value[1], inplace = True)
    
df_wind

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
New,,,,,,,,,,,
20190625,-8.255864,18.822000,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190626,-14.046547,2.851417,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190627,-7.320556,4.010603,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190628,1.658929,5.533953,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190629,1.356580,9.006055,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
...,...,...,...,...,...,...,...,...,...,...,...
20221018,57.190670,44.425756,7.785098,3.995484,4.095699,15.217022,5.980941,5.637824,9.501286,117.669196,7.467459
20221019,7.033693,45.131791,11.062278,4.602050,5.595226,15.217022,5.646750,6.915667,9.501286,117.688819,5.922350
20221020,8.239286,55.310167,36.090788,15.024389,22.693654,15.217022,27.862864,25.996136,9.501286,130.220561,23.761873
20221021,-18.565540,56.444523,25.357472,8.620153,13.949158,15.217022,17.413708,16.279917,9.501286,124.021264,13.344158
20221022,-15.880023,44.434752,10.254000,4.203480,6.112711,15.217022,7.120000,6.428708,9.501286,119.772375,6.516025

In [ ]:
VARModel = VAR(df_pol).fit()

In [ ]:
WY = pd.DataFrame(np.matmul(df_pol.to_numpy(), W))

i = 0
for key in PolDict:
    WY.rename(columns={i:f'{key}'}, inplace=True)
    i += 1

WY

In [ ]:
SVAR = VAR(WY).fit()
SVAR.summary()

In [106]:
WW = list()

for i in range(len(df_wind)):
    wind = np.zeros((len(df_wind.columns), len(df_wind.columns)))
    
    for j in range(len(df_wind.columns)):

        if df_wind.iloc[i, j] != 0:
            wind[:, j] = W[:, j] + 1 / df_wind.iloc[i, j]
        else:
            wind[:, j] = W[:, j]

    WW.append(wind)

In [104]:
WWY = np.zeros((len(df_pol), len(df_pol.columns)))

for i in range(len(df_pol)):
    WWY[i, :] = np.matmul(df_pol.iloc[i, :].to_numpy(), WW[i])

WWY = pd.DataFrame(WWY)

i = 0
for key in PolDict:
    WWY.rename(columns={i:f'{key}'}, inplace=True)
    i += 1

WWY

,Amsterdam,Beverwijk,Heemskerk,Wijk aan Zee,Velsen-Noord,Driehuis,IJmuiden,Velsen-Zuid,Zaandam,Koog aan de Zaan,Uithoorn
0,-11.965021,43.436811,40.737557,35.204544,64.385599,49.888109,38.831773,68.873574,51.293132,27.397866,20.607236
1,-3.160338,92.743279,33.396931,30.990210,53.572160,45.995939,34.996354,62.873686,49.369164,25.960965,19.513790
2,-11.773827,70.897511,31.763650,29.606825,51.791435,44.263742,33.883581,60.815085,45.931899,23.751565,17.238903
3,102.165642,61.533730,32.901963,30.350494,53.341810,45.042506,34.530809,61.891858,46.838912,24.356611,17.819392
4,125.731726,51.140642,34.651358,31.386425,55.874526,46.031458,35.463236,63.373012,47.510669,24.832960,18.223946
...,...,...,...,...,...,...,...,...,...,...,...
1200,21.724686,34.865371,76.112255,100.339636,125.257065,51.795902,85.412994,96.667865,148.804572,24.567674,49.185574
1201,56.343829,36.888115,65.355851,90.838123,107.526228,52.652303,88.915551,87.912760,147.694058,24.099965,57.781990
1202,75.158738,75.883263,71.764820,81.848303,115.401550,100.468990,84.348969,102.868280,183.701276,35.324027,33.306510
1203,1.110264,57.236656,67.941068,87.661026,108.873984,80.271160,77.751593,93.123855,170.129193,31.973472,42.145197
1204,-0.911674,38.063436,69.148755,100.141550,105.562009,54.520481,80.694494,94.435623,151.913957,25.090695,56.100373

In [107]:
SWVAR = VAR(WWY).fit()
SWVAR.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sat, 17, Dec, 2022
Time:                     19:06:46
--------------------------------------------------------------------
No. of Equations:         11.0000    BIC:                    68.1675
Nobs:                     1204.00    HQIC:                   67.8194
Log likelihood:          -59361.1    FPE:                2.30280e+29
AIC:                      67.6091    Det(Omega_mle):     2.06480e+29
--------------------------------------------------------------------
Results for equation Amsterdam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      28.352636        27.594463            1.027           0.304
L1.Amsterdam                0.000973         0.028948            0.034           0.973
L1.Beverwijk               -0.298190         0.592431           -0.503           0.615
L1.Heemskerk                0.624563         0.703647            0.888           0.375
L1.Wijk aan Zee            -0.143618         0.329685           -0.436           0.663
L1.Velsen-Noord            -0.006342         0.025356           -0.250           0.803
L1.Driehuis                 0.583661         0.616929            0.946           0.344
L1.IJmuiden                -0.602411         0.505797           -1.191           0.234
L1.Velsen-Zuid             -0.295868         0.565248           -0.523           0.601
L1.Zaandam                  0.141130         0.225027            0.627           0.531
L1.Koog aan de Zaan        -0.226962         0.324742           -0.699           0.485
L1.Uithoorn                -0.243723         0.654314           -0.372           0.710
======================================================================================

Results for equation Beverwijk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      16.888370         1.688702           10.001           0.000
L1.Amsterdam                0.002235         0.001772            1.261           0.207
L1.Beverwijk                0.744529         0.036255           20.536           0.000
L1.Heemskerk                0.011462         0.043061            0.266           0.790
L1.Wijk aan Zee             0.002064         0.020176            0.102           0.919
L1.Velsen-Noord             0.000348         0.001552            0.225           0.822
L1.Driehuis                -0.007314         0.037754           -0.194           0.846
L1.IJmuiden                -0.078541         0.030953           -2.537           0.011
L1.Velsen-Zuid             -0.030924         0.034592           -0.894           0.371
L1.Zaandam                 -0.008860         0.013771           -0.643           0.520
L1.Koog aan de Zaan        -0.027767         0.019873           -1.397           0.162
L1.Uithoorn                 0.071367         0.040042            1.782           0.075
======================================================================================

Results for equation Heemskerk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      10.793412         1.517444            7.113           0.000
L1.Amsterdam                0.000223         0.001592            0.140           0.889
L1.Beverwijk               -0.109862         0.032578           -3.372           0.001
L1.Heemskerk                0.639577         0.038694           16.529           0.000
L1.Wijk aan Zee             0.073744         0.018130            4.068           0.000
L1.Velsen-Noord            -0.000126         0.001394           -0.090           0.928
L1.Driehuis                 0.084191         0.033925            2.482           0.013
L1.IJmuiden                -0.052386         0.027814           -1.883           0.060
L1.Velsen-Zuid              0.069516         0.031084            2.236           0.025
L1.Zaandam                  0.011778         0.012374            0.952           0.341
L1.Koog aan de Zaan        -0.005798         0.017858           -0.325           0.745
L1.Uithoorn                 0.031016         0.035981            0.862           0.389
======================================================================================

Results for equation Wijk aan Zee
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       9.971434         1.584352            6.294           0.000
L1.Amsterdam               -0.001906         0.001662           -1.147           0.251
L1.Beverwijk               -0.126818         0.034015           -3.728           0.000
L1.Heemskerk               -0.042338         0.040400           -1.048           0.295
L1.Wijk aan Zee             0.902063         0.018929           47.655           0.000
L1.Velsen-Noord            -0.000188         0.001456           -0.129           0.897
L1.Driehuis                 0.114798         0.035421            3.241           0.001
L1.IJmuiden                -0.044634         0.029041           -1.537           0.124
L1.Velsen-Zuid             -0.008593         0.032454           -0.265           0.791
L1.Zaandam                  0.025395         0.012920            1.966           0.049
L1.Koog aan de Zaan        -0.018672         0.018645           -1.001           0.317
L1.Uithoorn                -0.025828         0.037568           -0.687           0.492
======================================================================================

Results for equation Velsen-Noord
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      48.641055        31.807696            1.529           0.126
L1.Amsterdam               -0.006364         0.033368           -0.191           0.849
L1.Beverwijk               -1.493055         0.682886           -2.186           0.029
L1.Heemskerk                1.336590         0.811083            1.648           0.099
L1.Wijk aan Zee            -0.228370         0.380022           -0.601           0.548
L1.Velsen-Noord             0.033640         0.029228            1.151           0.250
L1.Driehuis                 1.181423         0.711124            1.661           0.097
L1.IJmuiden                 0.292152         0.583025            0.501           0.616
L1.Velsen-Zuid             -1.255312         0.651553           -1.927           0.054
L1.Zaandam                  0.081323         0.259385            0.314           0.754
L1.Koog aan de Zaan         0.863900         0.374325            2.308           0.021
L1.Uithoorn                 1.822523         0.754217            2.416           0.016
======================================================================================

Results for equation Driehuis
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      17.635294         1.781080            9.901           0.000
L1.Amsterdam                0.001749         0.001868            0.936           0.349
L1.Beverwijk               -0.092863         0.038238           -2.429           0.015
L1.Heemskerk                0.007217         0.045417            0.159           0.874
L1.Wijk aan Zee             0.035721         0.021279            1.679           0.093
L1.Velsen-Noord             0.000869         0.001637            0.531           0.596
L1.Driehuis                 0.656633         0.039820           16.490           0.000
L1.IJmuiden                -0.059537         0.032647           -1.824           0.068
L1.Velsen-Zuid              0.072986         0.036484            2.000           0.045
L1.Zaandam                 -0.016103         0.014524           -1.109           0.268
L1.Koog aan de Zaan         0.026190         0.020960            1.249           0.211
L1.Uithoorn                -0.031798         0.042233           -0.753           0.451
======================================================================================

Results for equation IJmuiden
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      12.209499         2.231854            5.471           0.000
L1.Amsterdam                0.001093         0.002341            0.467           0.641
L1.Beverwijk               -0.102566         0.047916           -2.141           0.032
L1.Heemskerk               -0.024175         0.056911           -0.425           0.671
L1.Wijk aan Zee             0.081652         0.026665            3.062           0.002
L1.Velsen-Noord            -0.000636         0.002051           -0.310           0.757
L1.Driehuis                 0.032424         0.049897            0.650           0.516
L1.IJmuiden                 0.590318         0.040909           14.430           0.000
L1.Velsen-Zuid              0.039880         0.045718            0.872           0.383
L1.Zaandam                  0.029931         0.018200            1.645           0.100
L1.Koog aan de Zaan        -0.038417         0.026265           -1.463           0.144
L1.Uithoorn                 0.100883         0.052921            1.906           0.057
======================================================================================

Results for equation Velsen-Zuid
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      19.305324         2.351274            8.211           0.000
L1.Amsterdam               -0.000114         0.002467           -0.046           0.963
L1.Beverwijk               -0.059788         0.050480           -1.184           0.236
L1.Heemskerk                0.113369         0.059956            1.891           0.059
L1.Wijk aan Zee             0.087401         0.028092            3.111           0.002
L1.Velsen-Noord            -0.001163         0.002161           -0.538           0.590
L1.Driehuis                 0.172503         0.052567            3.282           0.001
L1.IJmuiden                -0.071681         0.043098           -1.663           0.096
L1.Velsen-Zuid              0.537458         0.048164           11.159           0.000
L1.Zaandam                 -0.000833         0.019174           -0.043           0.965
L1.Koog aan de Zaan        -0.007397         0.027671           -0.267           0.789
L1.Uithoorn                 0.201879         0.055753            3.621           0.000
======================================================================================

Results for equation Zaandam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      16.974326         2.870817            5.913           0.000
L1.Amsterdam               -0.000723         0.003012           -0.240           0.810
L1.Beverwijk               -0.096619         0.061634           -1.568           0.117
L1.Heemskerk               -0.018901         0.073205           -0.258           0.796
L1.Wijk aan Zee             0.101413         0.034299            2.957           0.003
L1.Velsen-Noord            -0.001620         0.002638           -0.614           0.539
L1.Driehuis                -0.113660         0.064183           -1.771           0.077
L1.IJmuiden                 0.067859         0.052621            1.290           0.197
L1.Velsen-Zuid             -0.055042         0.058806           -0.936           0.349
L1.Zaandam                  0.781042         0.023411           33.362           0.000
L1.Koog aan de Zaan        -0.022441         0.033785           -0.664           0.507
L1.Uithoorn                 0.136077         0.068072            1.999           0.046
======================================================================================

Results for equation Koog aan de Zaan
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                      11.563769         2.028978            5.699           0.000
L1.Amsterdam                0.000973         0.002129            0.457           0.648
L1.Beverwijk               -0.125551         0.043561           -2.882           0.004
L1.Heemskerk                0.011533         0.051738            0.223           0.824
L1.Wijk aan Zee            -0.012567         0.024241           -0.518           0.604
L1.Velsen-Noord            -0.000046         0.001864           -0.025           0.980
L1.Driehuis                 0.232144         0.045362            5.118           0.000
L1.IJmuiden                -0.090968         0.037190           -2.446           0.014
L1.Velsen-Zuid              0.048769         0.041562            1.173           0.241
L1.Zaandam                 -0.040927         0.016546           -2.474           0.013
L1.Koog aan de Zaan         0.630256         0.023878           26.395           0.000
L1.Uithoorn                -0.034102         0.048111           -0.709           0.478
======================================================================================

Results for equation Uithoorn
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       6.529410         1.241671            5.259           0.000
L1.Amsterdam               -0.000398         0.001303           -0.306           0.760
L1.Beverwijk               -0.045905         0.026658           -1.722           0.085
L1.Heemskerk                0.064077         0.031662            2.024           0.043
L1.Wijk aan Zee             0.005925         0.014835            0.399           0.690
L1.Velsen-Noord            -0.000117         0.001141           -0.103           0.918
L1.Driehuis                -0.065999         0.027760           -2.377           0.017
L1.IJmuiden                 0.049659         0.022759            2.182           0.029
L1.Velsen-Zuid              0.044609         0.025435            1.754           0.079
L1.Zaandam                  0.032839         0.010126            3.243           0.001
L1.Koog aan de Zaan         0.002011         0.014612            0.138           0.891
L1.Uithoorn                 0.571768         0.029442           19.420           0.000
======================================================================================

Correlation matrix of residuals
                    Amsterdam  Beverwijk  Heemskerk  Wijk aan Zee  Velsen-Noord  Driehuis  IJmuiden  Velsen-Zuid   Zaandam  Koog aan de Zaan  Uithoorn
Amsterdam            1.000000   0.005799   0.036123      0.026230     -0.005478  0.022486  0.017216     0.012279  0.010074          0.034694  0.001408
Beverwijk            0.005799   1.000000   0.459108      0.390692     -0.066904  0.807731  0.762239     0.588730  0.559894          0.293330  0.033712
Heemskerk            0.036123   0.459108   1.000000      0.518309     -0.084190  0.472186  0.640590     0.760380  0.432415          0.172564  0.373344
Wijk aan Zee         0.026230   0.390692   0.518309      1.000000     -0.087672  0.364013  0.512023     0.537298  0.408529          0.122432  0.302475
Velsen-Noord        -0.005478  -0.066904  -0.084190     -0.087672      1.000000  0.023732 -0.025645    -0.052571 -0.071512          0.037864 -0.029276
Driehuis             0.022486   0.807731   0.472186      0.364013      0.023732  1.000000  0.742590     0.452640  0.530628          0.284802  0.015407
IJmuiden             0.017216   0.762239   0.640590      0.512023     -0.025645  0.742590  1.000000     0.660085  0.548270          0.246804  0.201397
Velsen-Zuid          0.012279   0.588730   0.760380      0.537298     -0.052571  0.452640  0.660085     1.000000  0.468718          0.209889  0.480185
Zaandam              0.010074   0.559894   0.432415      0.408529     -0.071512  0.530628  0.548270     0.468718  1.000000          0.069892  0.112329
Koog aan de Zaan     0.034694   0.293330   0.172564      0.122432      0.037864  0.284802  0.246804     0.209889  0.069892          1.000000  0.001251
Uithoorn             0.001408   0.033712   0.373344      0.302475     -0.029276  0.015407  0.201397     0.480185  0.112329          0.001251  1.000000