In [56]:
from statsmodels.tsa.stattools import adfuller, grangercausalitytests, add_constant, coint
from statsmodels.tsa.api import AutoReg, VAR
from geopy.distance import great_circle
import matplotlib.pyplot as plt
import sklearn.metrics as skm
from tqdm import tqdm
import pandas as pd
import numpy as np
import math

In [44]:
data = pd.read_csv(r"/Users/main/Vault/Thesis/Data/pm25_weer.csv")
data.drop(data.iloc[:, 0:7], axis=1, inplace=True)
data.drop(["jaar", "maand", "weeknummer", "#STN", "timestamp", "components", "dag", "tijd", "uur", "datum", "sensortype", "weekdag", "U", "H", "T", "FH"], axis=1, inplace=True)

In [45]:
grouped_df = data.groupby(["YYYYMMDD", "tag"])["pm25", "longitude", "latitude", "DD"].mean().copy().reset_index()
grouped_df.rename(columns={"U":"Wind", "DD":"Angle"}, inplace=True)
grouped_df.head(5)

/var/folders/7f/x1mp2wjd10vcy_krqb5_kwjc0000gn/T/ipykernel_12924/2700382329.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = data.groupby(["YYYYMMDD", "tag"])["pm25", "longitude", "latitude", "DD"].mean().copy().reset_index()

   YYYYMMDD        tag       pm25  longitude   latitude       Angle
0  20190625  Amsterdam  16.602565   4.866208  52.359714  170.434783
1  20190625  Beverwijk  18.822000   4.650824  52.492369  276.000000
2  20190626  Amsterdam  21.974609   4.866208  52.359714  126.521739
3  20190626  Beverwijk   2.851417   4.657933  52.485871   19.166667
4  20190627  Amsterdam   4.484500   4.866208  52.359714   37.916667

In [46]:
Locations = grouped_df["tag"].unique()
LocDict = dict()

for i in range(len(Locations)):
    LocDict[Locations[i]] = (grouped_df[grouped_df.tag == Locations[i]]["latitude"].mean(), grouped_df[grouped_df.tag == Locations[i]]["longitude"].mean())

LocDict

{'Amsterdam': (52.385565471780744, 4.901327224364789),
 'Beverwijk': (52.486366756022534, 4.658584737682753),
 'Heemskerk': (52.50593616684639, 4.671953092146708),
 'Wijk aan Zee': (52.493443775747366, 4.59824578234632),
 'Velsen-Noord': (52.47382287197285, 4.647238399148998),
 'Driehuis': (52.447194827537714, 4.636977030738782),
 'IJmuiden': (52.45820717461739, 4.615567828011168),
 'Velsen-Zuid': (52.46234499999992, 4.637255999999981),
 'Zaandam': (52.45848175659801, 4.824912486862412),
 'Koog aan de Zaan': (52.46407900000035, 4.811263999999972),
 'Uithoorn': (52.23809099999961, 4.8082289999999865)}

In [47]:
def get_bearing(coor1, coor2):
    dLon = (coor2[1] - coor1[1])
    y = math.sin(dLon) * math.cos(coor2[0])
    x = math.cos(coor1[0]) * math.sin(coor2[0]) - math.sin(coor1[0]) * math.cos(coor2[0]) * math.cos(dLon)
    brng = math.atan2(y, x)
    brng = np.rad2deg(brng)
    return brng

W = np.zeros((11, 11))
AngleMatrix = np.zeros((11, 11))

for i in range(len(LocDict)):
    for j in range(len(LocDict)):
        if i != j:
            theta = get_bearing(LocDict[Locations[i]], LocDict[Locations[j]])
            W[i, j] = 1 / great_circle(LocDict[Locations[i]], LocDict[Locations[j]]).km
            AngleMatrix[i, j] = theta

In [48]:
grouped_df["Date"] = grouped_df["YYYYMMDD"].astype(str)
grouped_df.set_index("Date", inplace=True)
grouped_df.drop(columns=["YYYYMMDD", "latitude", "longitude"], inplace=True)
grouped_df.head(5)

                tag       pm25       Angle
Date
20190625  Amsterdam  16.602565  170.434783
20190625  Beverwijk  18.822000  276.000000
20190626  Amsterdam  21.974609  126.521739
20190626  Beverwijk   2.851417   19.166667
20190627  Amsterdam   4.484500   37.916667

In [49]:
UniqueNames = grouped_df.tag.unique()

PolDict = {elem : pd.DataFrame() for elem in UniqueNames}
# WindDict = {elem : pd.DataFrame() for elem in UniqueNames}
AngleDict = {elem : pd.DataFrame() for elem in UniqueNames}

for key in PolDict.keys():
    PolDict[key] = grouped_df[:][grouped_df.tag == key]
    PolDict[key].rename(columns={"pm25":key}, inplace=True)
    PolDict[key].drop(["Angle"], axis=1, inplace=True)
    del PolDict[key]["tag"]

    # WindDict[key] = grouped_df[:][grouped_df.tag == key]
    # WindDict[key].rename(columns={"Wind":key}, inplace=True)
    # WindDict[key].drop(["pm25", "Angle"], axis=1, inplace=True)
    # del WindDict[key]["tag"]

    AngleDict[key] = grouped_df[:][grouped_df.tag == key]
    AngleDict[key].rename(columns={"Angle":key}, inplace=True)
    AngleDict[key].drop(["pm25"], axis=1 , inplace=True)
    del AngleDict[key]["tag"]


AngleDict["Amsterdam"]

           Amsterdam
Date
20190625  170.434783
20190626  126.521739
20190627   37.916667
20190628   49.583333
20190629  117.083333
...              ...
20221018  176.828194
20221019   76.592357
20221020  128.169014
20221021  163.281734
20221022  186.346749

[1195 rows x 1 columns]

In [50]:
df_pol = pd.DataFrame(PolDict["Amsterdam"].copy())
# df_wind = pd.DataFrame(WindDict["Amsterdam"].copy())
df_angle = pd.DataFrame(AngleDict["Amsterdam"].copy())

for key in PolDict:
    df_pol = df_pol.combine_first(PolDict[key])
    # df_wind = df_wind.combine_first(WindDict[key])
    df_angle = df_angle.combine_first(AngleDict[key])

df_angle

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
Date,,,,,,,,,,,
20190625,170.434783,276.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190626,126.521739,19.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190627,37.916667,33.013699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190628,49.583333,50.314961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190629,117.083333,118.232044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20221018,176.828194,180.424028,177.058824,173.281250,168.938053,NaN,177.058824,177.058824,NaN,177.058824,177.058824
20221019,76.592357,77.437186,77.083333,77.111111,77.083333,NaN,77.083333,77.083333,NaN,77.083333,77.083333
20221020,128.169014,127.835616,127.727273,127.245509,127.777778,NaN,127.727273,127.727273,NaN,127.727273,127.727273
20221021,163.281734,163.045685,162.916667,162.768362,161.329114,NaN,162.916667,162.916667,NaN,162.916667,162.916667
20221022,186.346749,186.534653,184.117647,186.592179,187.169811,NaN,186.250000,186.250000,NaN,186.250000,186.250000

In [51]:
for column in df_pol:
    median_value = (df_pol[column].median(), df_angle[column].median())  #, df_wind[column].median())
    df_pol[column].fillna(value=median_value[0], inplace = True)
    df_angle[column].fillna(value=median_value[1], inplace = True)
    # df_wind[column].fillna(value=median_value[2], inplace = True)
    
df_angle

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
Date,,,,,,,,,,,
20190625,170.434783,276.000000,208.416667,208.263383,207.272727,206.25,211.666667,206.363636,205.982143,207.849462,206.250000
20190626,126.521739,19.166667,208.416667,208.263383,207.272727,206.25,211.666667,206.363636,205.982143,207.849462,206.250000
20190627,37.916667,33.013699,208.416667,208.263383,207.272727,206.25,211.666667,206.363636,205.982143,207.849462,206.250000
20190628,49.583333,50.314961,208.416667,208.263383,207.272727,206.25,211.666667,206.363636,205.982143,207.849462,206.250000
20190629,117.083333,118.232044,208.416667,208.263383,207.272727,206.25,211.666667,206.363636,205.982143,207.849462,206.250000
...,...,...,...,...,...,...,...,...,...,...,...
20221018,176.828194,180.424028,177.058824,173.281250,168.938053,206.25,177.058824,177.058824,205.982143,177.058824,177.058824
20221019,76.592357,77.437186,77.083333,77.111111,77.083333,206.25,77.083333,77.083333,205.982143,77.083333,77.083333
20221020,128.169014,127.835616,127.727273,127.245509,127.777778,206.25,127.727273,127.727273,205.982143,127.727273,127.727273
20221021,163.281734,163.045685,162.916667,162.768362,161.329114,206.25,162.916667,162.916667,205.982143,162.916667,162.916667
20221022,186.346749,186.534653,184.117647,186.592179,187.169811,206.25,186.250000,186.250000,205.982143,186.250000,186.250000

In [61]:
done_list = list()

for i in range(len(df_pol.columns)):

    for j in range(i, len(df_pol.columns)):

        if j != i:
            p_value = coint(df_pol[df_pol.columns[i]], df_pol[df_pol.columns[j]])[1]

            if p_value < 0.05:
                print(f'{df_pol.columns[i]} - {df_pol.columns[j]} are cointegrated')

Amsterdam - Wijk aan Zee are cointegrated
Driehuis - Heemskerk are cointegrated
Driehuis - IJmuiden are cointegrated
Driehuis - Koog aan de Zaan are cointegrated
Driehuis - Uithoorn are cointegrated
Driehuis - Velsen-Noord are cointegrated
Driehuis - Velsen-Zuid are cointegrated
Driehuis - Wijk aan Zee are cointegrated
Driehuis - Zaandam are cointegrated
Heemskerk - Koog aan de Zaan are cointegrated
Heemskerk - Uithoorn are cointegrated
Heemskerk - Wijk aan Zee are cointegrated
Heemskerk - Zaandam are cointegrated
IJmuiden - Koog aan de Zaan are cointegrated
IJmuiden - Uithoorn are cointegrated
IJmuiden - Velsen-Noord are cointegrated
IJmuiden - Velsen-Zuid are cointegrated
IJmuiden - Wijk aan Zee are cointegrated
IJmuiden - Zaandam are cointegrated
Koog aan de Zaan - Uithoorn are cointegrated
Koog aan de Zaan - Velsen-Noord are cointegrated
Koog aan de Zaan - Velsen-Zuid are cointegrated
Koog aan de Zaan - Wijk aan Zee are cointegrated
Koog aan de Zaan - Zaandam are cointegrated
Velsen-Noord - Velsen-Zuid are cointegrated
Velsen-Noord - Wijk aan Zee are cointegrated
Velsen-Noord - Zaandam are cointegrated
Velsen-Zuid - Wijk aan Zee are cointegrated
Velsen-Zuid - Zaandam are cointegrated

In [67]:
for i in range(len(df_pol.columns)):
    adfstat = adfuller(df_pol[df_pol.columns[i]])[1]
    
    if adfstat < 0.05:
        print(f'{df_pol.columns[i]} is not stationary')

Beverwijk is not stationary
Driehuis is not stationary
Heemskerk is not stationary
IJmuiden is not stationary
Koog aan de Zaan is not stationary
Velsen-Noord is not stationary
Velsen-Zuid is not stationary
Zaandam is not stationary

In [52]:
VARModel = VAR(df_pol, ).fit(trend="n")
VARModel.summary()

/Users/main/opt/miniconda3/envs/RA/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sun, 08, Jan, 2023
Time:                     17:05:56
--------------------------------------------------------------------
No. of Equations:         11.0000    BIC:                    39.5552
Nobs:                     1204.00    HQIC:                   39.2361
Log likelihood:          -42175.5    FPE:                9.04307e+16
AIC:                      39.0434    Det(Omega_mle):     8.18216e+16
--------------------------------------------------------------------
Results for equation Amsterdam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam                0.728665         0.038061           19.145           0.000
L1.Beverwijk                0.052948         0.016648            3.180           0.001
L1.Driehuis                -0.068516         0.037212           -1.841           0.066
L1.Heemskerk               -0.021211         0.013352           -1.589           0.112
L1.IJmuiden                 0.035670         0.031572            1.130           0.259
L1.Koog aan de Zaan        -0.111833         0.036653           -3.051           0.002
L1.Uithoorn                 0.166338         0.018123            9.179           0.000
L1.Velsen-Noord            -0.079487         0.048851           -1.627           0.104
L1.Velsen-Zuid              0.005224         0.039299            0.133           0.894
L1.Wijk aan Zee             0.062719         0.010933            5.737           0.000
L1.Zaandam                 -0.070073         0.030953           -2.264           0.024
======================================================================================

Results for equation Beverwijk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.047407         0.035851           -1.322           0.186
L1.Beverwijk                0.979374         0.015681           62.454           0.000
L1.Driehuis                -0.094705         0.035052           -2.702           0.007
L1.Heemskerk               -0.022920         0.012577           -1.822           0.068
L1.IJmuiden                -0.004558         0.029740           -0.153           0.878
L1.Koog aan de Zaan        -0.086713         0.034526           -2.512           0.012
L1.Uithoorn                 0.178397         0.017071           10.451           0.000
L1.Velsen-Noord            -0.173808         0.046016           -3.777           0.000
L1.Velsen-Zuid              0.015828         0.037018            0.428           0.669
L1.Wijk aan Zee             0.022656         0.010298            2.200           0.028
L1.Zaandam                 -0.047552         0.029156           -1.631           0.103
======================================================================================

Results for equation Driehuis
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.062353         0.038814           -1.606           0.108
L1.Beverwijk                0.031922         0.016978            1.880           0.060
L1.Driehuis                 0.655339         0.037949           17.269           0.000
L1.Heemskerk               -0.003415         0.013617           -0.251           0.802
L1.IJmuiden                 0.021847         0.032198            0.679           0.497
L1.Koog aan de Zaan        -0.128734         0.037379           -3.444           0.001
L1.Uithoorn                 0.189584         0.018482           10.258           0.000
L1.Velsen-Noord            -0.111142         0.049819           -2.231           0.026
L1.Velsen-Zuid              0.029059         0.040077            0.725           0.468
L1.Wijk aan Zee             0.030737         0.011150            2.757           0.006
L1.Zaandam                 -0.002166         0.031566           -0.069           0.945
======================================================================================

Results for equation Heemskerk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.113266         0.037323           -3.035           0.002
L1.Beverwijk                0.014151         0.016325            0.867           0.386
L1.Driehuis                -0.105956         0.036491           -2.904           0.004
L1.Heemskerk                0.941686         0.013093           71.920           0.000
L1.IJmuiden                -0.018547         0.030961           -0.599           0.549
L1.Koog aan de Zaan        -0.097775         0.035943           -2.720           0.007
L1.Uithoorn                 0.187740         0.017772           10.564           0.000
L1.Velsen-Noord            -0.176622         0.047905           -3.687           0.000
L1.Velsen-Zuid              0.084575         0.038538            2.195           0.028
L1.Wijk aan Zee             0.040535         0.010721            3.781           0.000
L1.Zaandam                 -0.055776         0.030353           -1.838           0.066
======================================================================================

Results for equation IJmuiden
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam                0.018858         0.028275            0.667           0.505
L1.Beverwijk               -0.011272         0.012368           -0.911           0.362
L1.Driehuis                -0.077111         0.027645           -2.789           0.005
L1.Heemskerk               -0.008238         0.009919           -0.830           0.406
L1.IJmuiden                 0.916250         0.023455           39.064           0.000
L1.Koog aan de Zaan        -0.120287         0.027230           -4.418           0.000
L1.Uithoorn                 0.152372         0.013463           11.318           0.000
L1.Velsen-Noord            -0.138905         0.036292           -3.827           0.000
L1.Velsen-Zuid             -0.009205         0.029195           -0.315           0.753
L1.Wijk aan Zee             0.017544         0.008122            2.160           0.031
L1.Zaandam                 -0.030429         0.022995           -1.323           0.186
======================================================================================

Results for equation Koog aan de Zaan
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.010610         0.033290           -0.319           0.750
L1.Beverwijk                0.028468         0.014561            1.955           0.051
L1.Driehuis                 0.017368         0.032548            0.534           0.594
L1.Heemskerk                0.017333         0.011678            1.484           0.138
L1.IJmuiden                 0.078459         0.027615            2.841           0.004
L1.Koog aan de Zaan         0.245530         0.032059            7.659           0.000
L1.Uithoorn                 0.217154         0.015851           13.700           0.000
L1.Velsen-Noord            -0.011184         0.042728           -0.262           0.794
L1.Velsen-Zuid             -0.050481         0.034373           -1.469           0.142
L1.Wijk aan Zee             0.049856         0.009563            5.214           0.000
L1.Zaandam                  0.019526         0.027073            0.721           0.471
======================================================================================

Results for equation Uithoorn
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.046078         0.022114           -2.084           0.037
L1.Beverwijk                0.046308         0.009673            4.788           0.000
L1.Driehuis                -0.026338         0.021621           -1.218           0.223
L1.Heemskerk                0.011597         0.007758            1.495           0.135
L1.IJmuiden                 0.000111         0.018344            0.006           0.995
L1.Koog aan de Zaan        -0.032779         0.021296           -1.539           0.124
L1.Uithoorn                 0.996781         0.010530           94.665           0.000
L1.Velsen-Noord            -0.122308         0.028384           -4.309           0.000
L1.Velsen-Zuid              0.075777         0.022833            3.319           0.001
L1.Wijk aan Zee             0.012165         0.006352            1.915           0.055
L1.Zaandam                  0.012043         0.017984            0.670           0.503
======================================================================================

Results for equation Velsen-Noord
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.037511         0.032471           -1.155           0.248
L1.Beverwijk                0.027188         0.014203            1.914           0.056
L1.Driehuis                 0.030075         0.031747            0.947           0.343
L1.Heemskerk               -0.004223         0.011391           -0.371           0.711
L1.IJmuiden                 0.020473         0.026936            0.760           0.447
L1.Koog aan de Zaan        -0.050480         0.031270           -1.614           0.106
L1.Uithoorn                 0.153620         0.015461            9.936           0.000
L1.Velsen-Noord             0.420506         0.041677           10.090           0.000
L1.Velsen-Zuid              0.028271         0.033527            0.843           0.399
L1.Wijk aan Zee             0.018996         0.009327            2.037           0.042
L1.Zaandam                  0.020929         0.026407            0.793           0.428
======================================================================================

Results for equation Velsen-Zuid
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.028109         0.026366           -1.066           0.286
L1.Beverwijk               -0.009321         0.011533           -0.808           0.419
L1.Driehuis                -0.014587         0.025778           -0.566           0.571
L1.Heemskerk                0.005118         0.009250            0.553           0.580
L1.IJmuiden                 0.021367         0.021871            0.977           0.329
L1.Koog aan de Zaan         0.012682         0.025391            0.499           0.617
L1.Uithoorn                 0.097126         0.012554            7.737           0.000
L1.Velsen-Noord            -0.056154         0.033841           -1.659           0.097
L1.Velsen-Zuid              0.659646         0.027224           24.230           0.000
L1.Wijk aan Zee             0.017314         0.007574            2.286           0.022
L1.Zaandam                  0.008146         0.021442            0.380           0.704
======================================================================================

Results for equation Wijk aan Zee
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam                0.294459         0.058309            5.050           0.000
L1.Beverwijk               -0.029585         0.025505           -1.160           0.246
L1.Driehuis                -0.073546         0.057009           -1.290           0.197
L1.Heemskerk               -0.016124         0.020455           -0.788           0.431
L1.IJmuiden                 0.079898         0.048369            1.652           0.099
L1.Koog aan de Zaan        -0.126416         0.056153           -2.251           0.024
L1.Uithoorn                 0.138450         0.027764            4.987           0.000
L1.Velsen-Noord            -0.374051         0.074841           -4.998           0.000
L1.Velsen-Zuid              0.138788         0.060206            2.305           0.021
L1.Wijk aan Zee             0.878501         0.016749           52.450           0.000
L1.Zaandam                 -0.095738         0.047420           -2.019           0.043
======================================================================================

Results for equation Zaandam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.140401         0.035092           -4.001           0.000
L1.Beverwijk                0.032795         0.015349            2.137           0.033
L1.Driehuis                -0.020669         0.034310           -0.602           0.547
L1.Heemskerk               -0.009007         0.012311           -0.732           0.464
L1.IJmuiden                 0.035413         0.029110            1.217           0.224
L1.Koog aan de Zaan        -0.170521         0.033794           -5.046           0.000
L1.Uithoorn                 0.175933         0.016709           10.529           0.000
L1.Velsen-Noord            -0.119974         0.045041           -2.664           0.008
L1.Velsen-Zuid              0.002964         0.036234            0.082           0.935
L1.Wijk aan Zee             0.047722         0.010080            4.734           0.000
L1.Zaandam                  0.832204         0.028538           29.161           0.000
======================================================================================

Correlation matrix of residuals
                    Amsterdam  Beverwijk  Driehuis  Heemskerk  IJmuiden  Koog aan de Zaan  Uithoorn  Velsen-Noord  Velsen-Zuid  Wijk aan Zee   Zaandam
Amsterdam            1.000000   0.784346  0.762735   0.706253  0.735490          0.468759  0.287555      0.707804     0.479296      0.473749  0.819305
Beverwijk            0.784346   1.000000  0.753255   0.738832  0.782003          0.380087  0.175481      0.680560     0.477795      0.505870  0.672779
Driehuis             0.762735   0.753255  1.000000   0.698486  0.741341          0.426075  0.390775      0.737713     0.510755      0.422066  0.719656
Heemskerk            0.706253   0.738832  0.698486   1.000000  0.695998          0.349808  0.217767      0.637114     0.422174      0.389570  0.650492
IJmuiden             0.735490   0.782003  0.741341   0.695998  1.000000          0.389290  0.218295      0.700178     0.562346      0.485707  0.666001
Koog aan de Zaan     0.468759   0.380087  0.426075   0.349808  0.389290          1.000000  0.275647      0.382506     0.176148      0.265945  0.501154
Uithoorn             0.287555   0.175481  0.390775   0.217767  0.218295          0.275647  1.000000      0.443225     0.143831      0.042850  0.369465
Velsen-Noord         0.707804   0.680560  0.737713   0.637114  0.700178          0.382506  0.443225      1.000000     0.526284      0.376094  0.704972
Velsen-Zuid          0.479296   0.477795  0.510755   0.422174  0.562346          0.176148  0.143831      0.526284     1.000000      0.233545  0.420331
Wijk aan Zee         0.473749   0.505870  0.422066   0.389570  0.485707          0.265945  0.042850      0.376094     0.233545      1.000000  0.373598
Zaandam              0.819305   0.672779  0.719656   0.650492  0.666001          0.501154  0.369465      0.704972     0.420331      0.373598  1.000000

In [53]:
for key in PolDict:
    R2 = skm.r2_score(VARModel.fittedvalues[key] + VARModel.resid[key], VARModel.fittedvalues[key])
    print(F'The R-Squared of {key} is: {R2*100:.2f}%')

The R-Squared of Amsterdam is: 52.47%
The R-Squared of Beverwijk is: 82.82%
The R-Squared of Heemskerk is: 81.87%
The R-Squared of Wijk aan Zee is: 82.69%
The R-Squared of Velsen-Noord is: 27.11%
The R-Squared of Driehuis is: 35.84%
The R-Squared of IJmuiden is: 63.73%
The R-Squared of Velsen-Zuid is: 41.34%
The R-Squared of Zaandam is: 50.12%
The R-Squared of Koog aan de Zaan is: 17.19%
The R-Squared of Uithoorn is: 77.69%

In [54]:
WY = pd.DataFrame(np.matmul(df_pol.to_numpy(), W))

i = 0
for key in PolDict:
    WY.rename(columns={i:f'{key}'}, inplace=True)
    i += 1

SVAR = VAR(WY).fit(trend="n")
SVAR.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sun, 08, Jan, 2023
Time:                     17:06:05
--------------------------------------------------------------------
No. of Equations:         11.0000    BIC:                    15.7036
Nobs:                     1204.00    HQIC:                   15.3845
Log likelihood:          -27816.8    FPE:                3.95976e+06
AIC:                      15.1917    Det(Omega_mle):     3.58278e+06
--------------------------------------------------------------------
Results for equation Amsterdam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam                0.567627         0.285212            1.990           0.047
L1.Beverwijk                0.020215         0.048619            0.416           0.678
L1.Heemskerk                0.138530         0.041017            3.377           0.001
L1.Wijk aan Zee            -0.122983         0.042439           -2.898           0.004
L1.Velsen-Noord            -0.009858         0.046798           -0.211           0.833
L1.Driehuis                 0.097140         0.043089            2.254           0.024
L1.IJmuiden                -0.227435         0.041572           -5.471           0.000
L1.Velsen-Zuid              0.093967         0.023349            4.024           0.000
L1.Zaandam                  0.047590         0.035669            1.334           0.182
L1.Koog aan de Zaan         0.034595         0.043888            0.788           0.431
L1.Uithoorn                -0.112483         0.375760           -0.299           0.765
======================================================================================

Results for equation Beverwijk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.882580         1.121211           -0.787           0.431
L1.Beverwijk                0.905527         0.191130            4.738           0.000
L1.Heemskerk                0.584116         0.161244            3.623           0.000
L1.Wijk aan Zee            -0.660213         0.166836           -3.957           0.000
L1.Velsen-Noord            -0.045411         0.183972           -0.247           0.805
L1.Driehuis                 0.515267         0.169388            3.042           0.002
L1.IJmuiden                -0.880360         0.163427           -5.387           0.000
L1.Velsen-Zuid              0.414054         0.091789            4.511           0.000
L1.Zaandam                  0.214603         0.140219            1.530           0.126
L1.Koog aan de Zaan         0.205222         0.172530            1.189           0.234
L1.Uithoorn                -1.782797         1.477170           -1.207           0.227
======================================================================================

Results for equation Heemskerk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -1.099475         0.783237           -1.404           0.160
L1.Beverwijk                0.097351         0.133516            0.729           0.466
L1.Heemskerk                1.276964         0.112639           11.337           0.000
L1.Wijk aan Zee            -0.385839         0.116546           -3.311           0.001
L1.Velsen-Noord             0.098097         0.128516            0.763           0.445
L1.Driehuis                 0.225568         0.118329            1.906           0.057
L1.IJmuiden                -0.673965         0.114164           -5.903           0.000
L1.Velsen-Zuid              0.304870         0.064120            4.755           0.000
L1.Zaandam                  0.201579         0.097952            2.058           0.040
L1.Koog aan de Zaan         0.201932         0.120523            1.675           0.094
L1.Uithoorn                -1.528109         1.031897           -1.481           0.139
======================================================================================

Results for equation Wijk aan Zee
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.536096         0.706768           -0.759           0.448
L1.Beverwijk                0.042670         0.120481            0.354           0.723
L1.Heemskerk                0.415430         0.101642            4.087           0.000
L1.Wijk aan Zee             0.597858         0.105167            5.685           0.000
L1.Velsen-Noord            -0.007549         0.115969           -0.065           0.948
L1.Driehuis                 0.269490         0.106776            2.524           0.012
L1.IJmuiden                -0.623489         0.103018           -6.052           0.000
L1.Velsen-Zuid              0.233451         0.057860            4.035           0.000
L1.Zaandam                  0.125165         0.088388            1.416           0.157
L1.Koog aan de Zaan         0.115628         0.108756            1.063           0.288
L1.Uithoorn                -1.110554         0.931150           -1.193           0.233
======================================================================================

Results for equation Velsen-Noord
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -1.001697         1.346274           -0.744           0.457
L1.Beverwijk                0.229324         0.229495            0.999           0.318
L1.Heemskerk                0.772400         0.193611            3.989           0.000
L1.Wijk aan Zee            -0.674906         0.200325           -3.369           0.001
L1.Velsen-Noord             1.079707         0.220901            4.888           0.000
L1.Driehuis                 0.290726         0.203390            1.429           0.153
L1.IJmuiden                -1.313331         0.196232           -6.693           0.000
L1.Velsen-Zuid              0.535004         0.110213            4.854           0.000
L1.Zaandam                  0.280002         0.168365            1.663           0.096
L1.Koog aan de Zaan         0.291612         0.207162            1.408           0.159
L1.Uithoorn                -3.087908         1.773684           -1.741           0.082
======================================================================================

Results for equation Driehuis
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.630355         1.012959           -0.622           0.534
L1.Beverwijk                0.076199         0.172676            0.441           0.659
L1.Heemskerk                0.357372         0.145676            2.453           0.014
L1.Wijk aan Zee            -0.576910         0.150728           -3.827           0.000
L1.Velsen-Noord             0.177946         0.166209            1.071           0.284
L1.Driehuis                 0.945343         0.153034            6.177           0.000
L1.IJmuiden                -0.871780         0.147648           -5.904           0.000
L1.Velsen-Zuid              0.575109         0.082926            6.935           0.000
L1.Zaandam                  0.195137         0.126680            1.540           0.123
L1.Koog aan de Zaan         0.234246         0.155872            1.503           0.133
L1.Uithoorn                -1.919668         1.334549           -1.438           0.150
======================================================================================

Results for equation IJmuiden
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.698236         1.188477           -0.588           0.557
L1.Beverwijk                0.371443         0.202596            1.833           0.067
L1.Heemskerk                0.840765         0.170918            4.919           0.000
L1.Wijk aan Zee            -0.560240         0.176845           -3.168           0.002
L1.Velsen-Noord             0.061417         0.195009            0.315           0.753
L1.Driehuis                 0.417538         0.179551            2.325           0.020
L1.IJmuiden                -0.441851         0.173231           -2.551           0.011
L1.Velsen-Zuid              0.268629         0.097295            2.761           0.006
L1.Zaandam                  0.191002         0.148631            1.285           0.199
L1.Koog aan de Zaan         0.143066         0.182880            0.782           0.434
L1.Uithoorn                -1.903598         1.565791           -1.216           0.224
======================================================================================

Results for equation Velsen-Zuid
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -1.340956         1.230988           -1.089           0.276
L1.Beverwijk                0.208630         0.209843            0.994           0.320
L1.Heemskerk                0.941047         0.177032            5.316           0.000
L1.Wijk aan Zee            -0.629072         0.183171           -3.434           0.001
L1.Velsen-Noord            -0.044910         0.201984           -0.222           0.824
L1.Driehuis                 0.825743         0.185973            4.440           0.000
L1.IJmuiden                -1.212691         0.179428           -6.759           0.000
L1.Velsen-Zuid              1.094797         0.100775           10.864           0.000
L1.Zaandam                  0.273321         0.153947            1.775           0.076
L1.Koog aan de Zaan         0.253869         0.189422            1.340           0.180
L1.Uithoorn                -2.501475         1.621797           -1.542           0.123
======================================================================================

Results for equation Zaandam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -1.783835         1.183383           -1.507           0.132
L1.Beverwijk               -0.058592         0.201728           -0.290           0.771
L1.Heemskerk                0.489697         0.170185            2.877           0.004
L1.Wijk aan Zee            -0.189291         0.176087           -1.075           0.282
L1.Velsen-Noord            -0.295148         0.194173           -1.520           0.129
L1.Driehuis                 0.204351         0.178781            1.143           0.253
L1.IJmuiden                -0.694600         0.172489           -4.027           0.000
L1.Velsen-Zuid              0.246882         0.096878            2.548           0.011
L1.Zaandam                  0.944173         0.147994            6.380           0.000
L1.Koog aan de Zaan         0.209025         0.182097            1.148           0.251
L1.Uithoorn                 3.626120         1.559080            2.326           0.020
======================================================================================

Results for equation Koog aan de Zaan
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.157225         0.705148           -0.223           0.824
L1.Beverwijk                0.013134         0.120205            0.109           0.913
L1.Heemskerk                0.126025         0.101409            1.243           0.214
L1.Wijk aan Zee            -0.300704         0.104926           -2.866           0.004
L1.Velsen-Noord             0.064921         0.115703            0.561           0.575
L1.Driehuis                 0.222572         0.106531            2.089           0.037
L1.IJmuiden                -0.371386         0.102782           -3.613           0.000
L1.Velsen-Zuid              0.273225         0.057727            4.733           0.000
L1.Zaandam                  0.101958         0.088186            1.156           0.248
L1.Koog aan de Zaan         0.737705         0.108507            6.799           0.000
L1.Uithoorn                -1.252577         0.929016           -1.348           0.178
======================================================================================

Results for equation Uithoorn
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
L1.Amsterdam               -0.255583         0.185681           -1.376           0.169
L1.Beverwijk                0.017554         0.031652            0.555           0.579
L1.Heemskerk                0.095141         0.026703            3.563           0.000
L1.Wijk aan Zee            -0.086831         0.027629           -3.143           0.002
L1.Velsen-Noord             0.006367         0.030467            0.209           0.834
L1.Driehuis                 0.069338         0.028052            2.472           0.013
L1.IJmuiden                -0.145494         0.027065           -5.376           0.000
L1.Velsen-Zuid              0.064556         0.015201            4.247           0.000
L1.Zaandam                  0.047323         0.023221            2.038           0.042
L1.Koog aan de Zaan         0.041966         0.028572            1.469           0.142
L1.Uithoorn                 0.546631         0.244630            2.235           0.025
======================================================================================

Correlation matrix of residuals
                    Amsterdam  Beverwijk  Heemskerk  Wijk aan Zee  Velsen-Noord  Driehuis  IJmuiden  Velsen-Zuid   Zaandam  Koog aan de Zaan  Uithoorn
Amsterdam            1.000000   0.959894   0.968146      0.963799      0.950689  0.938519  0.951661     0.938465  0.867137          0.871077  0.988679
Beverwijk            0.959894   1.000000   0.971339      0.988419      0.975985  0.976170  0.979633     0.972305  0.733892          0.867185  0.976868
Heemskerk            0.968146   0.971339   1.000000      0.978786      0.981114  0.959938  0.975071     0.961706  0.776326          0.855548  0.983385
Wijk aan Zee         0.963799   0.988419   0.978786      1.000000      0.989092  0.979674  0.981667     0.978917  0.745628          0.861209  0.980991
Velsen-Noord         0.950689   0.975985   0.981114      0.989092      1.000000  0.980402  0.984301     0.963121  0.721886          0.848902  0.973035
Driehuis             0.938519   0.976170   0.959938      0.979674      0.980402  1.000000  0.956763     0.942427  0.705465          0.854704  0.956763
IJmuiden             0.951661   0.979633   0.975071      0.981667      0.984301  0.956763  1.000000     0.971682  0.726386          0.848693  0.971799
Velsen-Zuid          0.938465   0.972305   0.961706      0.978917      0.963121  0.942427  0.971682     1.000000  0.715609          0.824178  0.960707
Zaandam              0.867137   0.733892   0.776326      0.745628      0.721886  0.705465  0.726386     0.715609  1.000000          0.576594  0.822628
Koog aan de Zaan     0.871077   0.867185   0.855548      0.861209      0.848902  0.854704  0.848693     0.824178  0.576594          1.000000  0.870714
Uithoorn             0.988679   0.976868   0.983385      0.980991      0.973035  0.956763  0.971799     0.960707  0.822628          0.870714  1.000000

In [ ]:
for key in PolDict:
    R2 = skm.r2_score(SVAR.fittedvalues[key] + SVAR.resid[key], SVAR.fittedvalues[key])
    print(F'The R-Squared of {key} is: {R2*100:.2f}%')

In [ ]:
WW = list()

wind = np.random.lognormal(mean=2.5, sigma=0.5, size=len(df_angle))

for i in range(len(df_angle)):
    wind_direction = np.zeros((len(df_angle.columns), len(df_angle.columns)))
    
    for j in range(len(df_angle.columns)):
        wind_direction[j, :] = AngleMatrix[j, :] - df_angle.iloc[i, j]
        wind_direction = (np.cos(wind_direction) * W)  * wind[i]
        wind_direction = np.nan_to_num(wind_direction, nan=0, posinf=0, neginf=0)

    WW.append(wind_direction)

WWY = np.zeros((len(df_pol), len(df_pol.columns)))

for i in range(len(df_pol)):
    WWY[i, :] = np.matmul(df_pol.iloc[i, :].to_numpy(), WW[i])

WWY = pd.DataFrame(WWY)

i = 0
for key in PolDict:
    WWY.rename(columns={i:f'{key}'}, inplace=True)
    i += 1

EXOG = pd.DataFrame(np.concatenate((df_pol, WWY), axis=1))

i = 0
for key in PolDict:
    EXOG.rename(columns={i:f'{key}'}, inplace=True)
    EXOG.rename(columns={i + 11:f'Spatial - {key}'}, inplace=True)
    i += 1

SWVAR = VAR(EXOG).fit(trend="n")
SWVAR.summary()

In [ ]:
for key in PolDict:
    R2 = skm.r2_score(SWVAR.fittedvalues[key] + SWVAR.resid[key], SWVAR.fittedvalues[key])
    print(F'The R-Squared of {key} is: {R2*100:.2f}%')