In [14]:
from statsmodels.tsa.api import AutoReg, VAR
from geopy.distance import great_circle
import matplotlib.pyplot as plt
from tqdm import tqdm
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"/Users/main/Vault/Thesis/Data/pm25_weer.csv")
data

,id,no2,pm10,pm10_cal,pm10_fac,pm10_max,pm10_min,pm25,pm25_cal,pm25_fac,...,YYYYMMDD,jaar,maand,weeknummer,dag,H,T,U,DD,FH
0,1,NaN,8.195,8.774,1.070000,8.39,8.00,4.000,1.640,0.410000,...,20190712,2019,7,28,12,14,173,86,320,60
1,4,NaN,17.258,18.165,1.052000,20.10,15.60,11.176,4.256,0.381000,...,20190712,2019,7,28,12,14,173,86,320,60
2,5,NaN,19.952,20.497,1.027000,24.40,16.50,10.810,3.996,0.370000,...,20190712,2019,7,28,12,14,173,86,320,60
3,7,NaN,20.278,21.216,1.042000,24.40,16.20,11.510,4.292,0.371000,...,20190712,2019,7,28,12,14,173,86,320,60
4,10,NaN,18.099,19.186,1.062000,21.90,14.70,8.942,3.471,0.390000,...,20190712,2019,7,28,12,14,173,86,320,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349808,199,33.4319,24.660,16.796,0.681103,28.50,20.50,11.910,9.877,0.829303,...,20221022,2022,10,42,22,23,127,92,140,20
1349809,200,43.1974,0.000,0.000,NaN,0.00,0.00,0.000,0.000,NaN,...,20221022,2022,10,42,22,23,127,92,140,20
1349810,212,2.5000,23.074,22.407,0.971261,29.30,18.29,7.887,11.534,1.461850,...,20221022,2022,10,42,22,23,127,92,140,20
1349811,213,39.1156,37.694,36.569,0.970257,60.80,24.40,9.182,13.432,1.463180,...,20221022,2022,10,42,22,23,127,92,140,20
1349812,217,16.4588,9.600,11.136,1.160000,9.60,9.60,7.100,8.946,1.260000,...,20221022,2022,10,42,22,23,127,92,140,20

In [54]:
data.columns

Index(['id', 'no2', 'pm10', 'pm10_cal', 'pm10_fac', 'pm10_max', 'pm10_min',
       'pm25', 'pm25_cal', 'pm25_fac', 'pm25_max', 'pm25_min', 'timestamp',
       'components', 'latitude', 'longitude', 'name', 'sensortype', 'tag',
       'datum', 'tijd', 'weekdag', 'uur', '#STN', 'YYYYMMDD', 'jaar', 'maand',
       'weeknummer', 'dag', 'H', 'T', 'U', 'DD', 'FH'],
      dtype='object')

In [3]:
data.drop(data.iloc[:, 0:7], axis=1, inplace=True)
data.drop(["jaar", "maand", "weeknummer", "#STN", "timestamp", "components", "dag", "tijd", "datum", "H", "T", "U", "DD", "weekdag", "FH", "sensortype"], axis=1, inplace=True)
data

,pm25,pm25_cal,pm25_fac,pm25_max,pm25_min,latitude,longitude,name,tag,uur,YYYYMMDD
0,4.000,1.640,0.410000,4.1,3.9,52.472796,4.662902,Zuiderkade,Beverwijk,14,20190712
1,11.176,4.256,0.381000,12.4,10.1,52.490108,4.657723,Grote Houtweg,Beverwijk,14,20190712
2,10.810,3.996,0.370000,12.3,9.0,52.484320,4.642918,Westerhoutplein,Beverwijk,14,20190712
3,11.510,4.292,0.371000,13.9,10.0,52.487020,4.650807,Beukenstraat,Beverwijk,14,20190712
4,8.942,3.471,0.390000,10.3,7.3,52.477398,4.658354,Parallelweg,Beverwijk,14,20190712
...,...,...,...,...,...,...,...,...,...,...,...
1349808,11.910,9.877,0.829303,15.2,10.3,52.473001,4.662653,Zuiderkade,Beverwijk,23,20221022
1349809,0.000,0.000,NaN,0.0,0.0,52.477803,4.654015,Stationsplein,Beverwijk,23,20221022
1349810,7.887,11.534,1.461850,8.7,7.2,52.458385,4.834105,Fluitekruidweg,Zaandam,23,20221022
1349811,9.182,13.432,1.463180,10.5,8.3,52.458385,4.834105,Fluitekruidweg,Zaandam,23,20221022
1349812,7.100,8.946,1.260000,7.1,7.1,52.396716,4.904964,Ridderspoorweg,Amsterdam,23,20221022

In [ ]:
data = data[data.pm25 != 0]
data

In [ ]:
plt.figure(figsize=(16, 8))
plt.plot(data["pm25"])
plt.show()

In [ ]:
data3 = data["pm25"].to_numpy()

plt.figure(figsize=(16, 8))
plt.plot(data3[700000:700500])
plt.show()

In [4]:
grouped_df = data.groupby(["YYYYMMDD", "tag"])[("pm25", "longitude", "latitude")].mean().copy().reset_index()

/var/folders/7f/x1mp2wjd10vcy_krqb5_kwjc0000gn/T/ipykernel_14816/3703936478.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = data.groupby(["YYYYMMDD", "tag"])[("pm25", "longitude", "latitude")].mean().copy().reset_index()

In [5]:
grouped_df.head(5)

   YYYYMMDD        tag       pm25  longitude   latitude
0  20190625  Amsterdam  16.602565   4.866208  52.359714
1  20190625  Beverwijk  18.822000   4.650824  52.492369
2  20190626  Amsterdam  21.974609   4.866208  52.359714
3  20190626  Beverwijk   2.851417   4.657933  52.485871
4  20190627  Amsterdam   4.484500   4.866208  52.359714

In [6]:
Locations = grouped_df["tag"].unique()
LocDict = dict()
Locations
for i in range(len(Locations)):
    LocDict[Locations[i]] = (grouped_df[grouped_df.tag == Locations[i]]["latitude"].mean(), grouped_df[grouped_df.tag == Locations[i]]["longitude"].mean())

In [7]:
LocDict

{'Amsterdam': (52.385565471780744, 4.901327224364789),
 'Beverwijk': (52.486366756022534, 4.658584737682753),
 'Heemskerk': (52.50593616684639, 4.671953092146708),
 'Wijk aan Zee': (52.493443775747366, 4.59824578234632),
 'Velsen-Noord': (52.47382287197285, 4.647238399148998),
 'Driehuis': (52.447194827537714, 4.636977030738782),
 'IJmuiden': (52.45820717461739, 4.615567828011168),
 'Velsen-Zuid': (52.46234499999992, 4.637255999999981),
 'Zaandam': (52.45848175659801, 4.824912486862412),
 'Koog aan de Zaan': (52.46407900000035, 4.811263999999972),
 'Uithoorn': (52.23809099999961, 4.8082289999999865)}

In [36]:
W = np.zeros((11, 11))

for i in range(len(LocDict)):
    for j in range(len(LocDict)):
        if i != j:
            W[i, j] = 1 / great_circle(LocDict[Locations[i]], LocDict[Locations[j]]).km
pd.DataFrame(W)

,0,1,2,3,4,5,6,7,8,9,10
0,0.000000,0.050226,0.048748,0.042035,0.050438,0.052102,0.047633,0.050410,0.103925,0.093859,0.056891
1,0.050226,0.000000,0.424320,0.240358,0.627957,0.217623,0.233800,0.329302,0.085581,0.094041,0.033993
2,0.048748,0.424320,0.000000,0.193082,0.253583,0.143926,0.152950,0.185648,0.086023,0.095066,0.032065
3,0.042035,0.240358,0.193082,0.000000,0.251844,0.173214,0.244498,0.229791,0.063146,0.067607,0.031474
4,0.050438,0.627957,0.253583,0.251844,0.000000,0.328792,0.362306,0.692351,0.082260,0.089577,0.035210
5,0.052102,0.217623,0.143926,0.173214,0.328792,0.000000,0.526740,0.593567,0.078144,0.083627,0.038463
6,0.047633,0.233800,0.152950,0.244498,0.362306,0.526740,0.000000,0.649445,0.070501,0.075331,0.036030
7,0.050410,0.329302,0.185648,0.229791,0.692351,0.593567,0.649445,0.000000,0.078608,0.084816,0.036354
8,0.103925,0.085581,0.086023,0.063146,0.082260,0.078144,0.070501,0.078608,0.000000,0.897148,0.040762
9,0.093859,0.094041,0.095066,0.067607,0.089577,0.083627,0.075331,0.084816,0.897148,0.000000,0.039794
10,0.056891,0.033993,0.032065,0.031474,0.035210,0.038463,0.036030,0.036354,0.040762,0.039794,0.000000

In [ ]:
plt.figure(figsize=(16, 8))
plt.plot(grouped_df["pm25"])
plt.show()

In [20]:
data2 = grouped_df.copy()
data2["New"] = data2["YYYYMMDD"].astype(str) #+ "-" +data2["uur"].astype(str)
del data2["YYYYMMDD"]

In [21]:
data2.set_index("New", inplace=True)

In [25]:
del data2["latitude"]
del data2["longitude"]
data2

                   tag        pm25
New
20190625     Amsterdam   16.602565
20190625     Beverwijk   18.822000
20190626     Amsterdam   21.974609
20190626     Beverwijk    2.851417
20190627     Amsterdam    4.484500
...                ...         ...
20221022      IJmuiden    6.112711
20221022      Uithoorn    7.120000
20221022  Velsen-Noord    6.428708
20221022  Wijk aan Zee  119.772375
20221022       Zaandam    6.516025

[10723 rows x 2 columns]

In [26]:
UniqueNames = data2.tag.unique()

DataFrameDict = {elem : pd.DataFrame() for elem in UniqueNames}

for key in DataFrameDict.keys():
    DataFrameDict[key] = data2[:][data2.tag == key]

In [27]:
DataFrameDict["Amsterdam"]

                tag       pm25
New
20190625  Amsterdam  16.602565
20190626  Amsterdam  21.974609
20190627  Amsterdam   4.484500
20190628  Amsterdam   7.430917
20190629  Amsterdam   7.474792
...             ...        ...
20221018  Amsterdam  59.648775
20221019  Amsterdam  49.008481
20221020  Amsterdam  57.314282
20221021  Amsterdam  68.504173
20221022  Amsterdam  59.205616

[1195 rows x 2 columns]

In [28]:
for key in tqdm(DataFrameDict):
    print(key)
    plt.figure(figsize=(16, 8))
    plt.plot(DataFrameDict[key].pm25, label = key)
    plt.show()

  0%|          | 0/11 [00:00<?, ?it/s]

Amsterdam

  0%|          | 0/11 [00:01<?, ?it/s]

KeyboardInterrupt:

In [29]:
for key in tqdm(DataFrameDict):
    DataFrameDict[key].rename(columns={"pm25":key}, inplace=True)
    del DataFrameDict[key]["tag"]
    print(DataFrameDict[key])

100%|██████████| 11/11 [00:00<00:00, 406.27it/s]

          Amsterdam
New
20190625  16.602565
20190626  21.974609
20190627   4.484500
20190628   7.430917
20190629   7.474792
...             ...
20221018  59.648775
20221019  49.008481
20221020  57.314282
20221021  68.504173
20221022  59.205616

[1195 rows x 1 columns]
          Beverwijk
New
20190625  18.822000
20190626   2.851417
20190627   4.010603
20190628   5.533953
20190629   9.006055
...             ...
20221018  44.425756
20221019  45.131791
20221020  55.310167
20221021  56.444523
20221022  44.434752

[1204 rows x 1 columns]
          Heemskerk
New
20190702   3.702000
20190703   2.701783
20190704   2.456625
20190705   4.618917
20190706   6.488875
...             ...
20221018   3.995484
20221019   4.602050
20221020  15.024389
20221021   8.620153
20221022   4.203480

[1186 rows x 1 columns]
          Wijk aan Zee
New
20190703      2.059048
20190704      1.748930
20190705      7.951859
20190706      6.433143
20190707      2.201536
...                ...
20221018    117.669196
20221019    117.688819
20221020    130.220561
20221021    124.021264
20221022    119.772375

[1185 rows x 1 columns]
          Velsen-Noord
New
20190704      1.178400
20190705      4.580458
20190706      9.383375
20190707      1.942417
20190709      2.450333
...                ...
20221018      5.637824
20221019      6.915667
20221020     25.996136
20221021     16.279917
20221022      6.428708

[1081 rows x 1 columns]
           Driehuis
New
20190710   4.333000
20190718   9.629312
20190719   8.041333
20190720   6.714875
20190721   2.978000
...             ...
20221018   7.785098
20221019  11.062278
20221020  36.090788
20221021  25.357472
20221022  10.254000

[1120 rows x 1 columns]
           IJmuiden
New
20190711   6.417231
20190712  14.585263
20190713   7.761367
20190714   3.296235
20190715   3.663917
...             ...
20221018   4.095699
20221019   5.595226
20221020  22.693654
20221021  13.949158
20221022   6.112711

[1179 rows x 1 columns]
          Velsen-Zuid
New
20190919     3.266273
20190920     4.705792
20190921     4.842417
20190922     4.047222
20190923    21.498000
...               ...
20220506    10.986750
20220507    16.630957
20220508     4.480583
20220509     4.944227
20220510     6.255647

[618 rows x 1 columns]
            Zaandam
New
20190919   2.993327
20190920   5.623500
20190921   4.987416
20190922   4.347011
20190923  22.093508
...             ...
20221018   7.467459
20221019   5.922350
20221020  23.761873
20221021  13.344158
20221022   6.516025

[1051 rows x 1 columns]
          Koog aan de Zaan
New
20191011         12.908687
20191012          8.029304
20191013         44.694500
20191014          8.774826
20191015         16.421500
...                    ...
20220815         18.324292
20220816         28.257250
20220817        136.340455
20220818         30.755333
20220819         25.134545

[525 rows x 1 columns]
           Uithoorn
New
20210921   4.199571
20210922   7.456667
20210923   5.208714
20210924  11.773062
20210925  28.358850
...             ...
20221018   5.980941
20221019   5.646750
20221020  27.862864
20221021  17.413708
20221022   7.120000

[379 rows x 1 columns]

In [ ]:
for key in tqdm(DataFrameDict):
    model = AutoReg(DataFrameDict[key], lags=1).fit()
    print(f'{key}\n', model.params)

In [30]:
for key in DataFrameDict:
    print(key)

Amsterdam
Beverwijk
Heemskerk
Wijk aan Zee
Velsen-Noord
Driehuis
IJmuiden
Velsen-Zuid
Zaandam
Koog aan de Zaan
Uithoorn

In [31]:
for key in tqdm(DataFrameDict):
    for key2 in tqdm(DataFrameDict):
        idx1 = DataFrameDict[key].index
        idx2 = DataFrameDict[key2].index
        print(len(idx1.difference(idx2)))

100%|██████████| 11/11 [00:00<00:00, 867.59it/s]

0
0
19
13
117
75
21
577
151
670
816

100%|██████████| 11/11 [00:00<00:00, 1236.66it/s]

9
0
19
19
123
84
26
586
154
679
825

100%|██████████| 11/11 [00:00<00:00, 931.58it/s]

10
1
0
13
110
78
19
569
139
661
807

100%|██████████| 11/11 [00:00<00:00, 1219.79it/s]

3
0
12
0
104
65
9
567
146
660
806

100%|██████████| 11/11 [00:00<00:00, 1454.84it/s]

3
0
5
0
0
59
5
477
83
573
702

100%|██████████| 11/11 [00:00<00:00, 1258.42it/s]

0
0
12
0
98
0
2
510
131
610
741

100%|██████████| 11/11 [00:00<00:00, 730.23it/s]
 64%|██████▎   | 7/11 [00:00<00:00, 59.03it/s]

5
1
12
3
103
61
0
561
137
654
800

100%|██████████| 11/11 [00:00<00:00, 825.81it/s]

0
0
1
0
14
8
0
0
46
287
468

100%|██████████| 11/11 [00:00<00:00, 1101.97it/s]

7
1
4
12
53
62
9
479
0
526
672

100%|██████████| 11/11 [00:00<00:00, 1400.73it/s]

0
0
0
0
17
15
0
194
0
0
265

100%|██████████| 11/11 [00:00<00:00, 1940.09it/s]
100%|██████████| 11/11 [00:00<00:00, 62.97it/s]

0
0
0
0
0
0
0
229
0
119
0

In [32]:
df = pd.DataFrame(DataFrameDict["Amsterdam"].copy())
for key in DataFrameDict:
    df = df.combine_first(DataFrameDict[key])
df

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
New,,,,,,,,,,,
20190625,16.602565,18.822000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190626,21.974609,2.851417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190627,4.484500,4.010603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190628,7.430917,5.533953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190629,7.474792,9.006055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20221018,59.648775,44.425756,7.785098,3.995484,4.095699,NaN,5.980941,5.637824,NaN,117.669196,7.467459
20221019,49.008481,45.131791,11.062278,4.602050,5.595226,NaN,5.646750,6.915667,NaN,117.688819,5.922350
20221020,57.314282,55.310167,36.090788,15.024389,22.693654,NaN,27.862864,25.996136,NaN,130.220561,23.761873
20221021,68.504173,56.444523,25.357472,8.620153,13.949158,NaN,17.413708,16.279917,NaN,124.021264,13.344158
20221022,59.205616,44.434752,10.254000,4.203480,6.112711,NaN,7.120000,6.428708,NaN,119.772375,6.516025

In [33]:
for column in df:
    mean_value = df[column].mean()
    df[column].fillna(value=mean_value, inplace = True)
df

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
New,,,,,,,,,,,
20190625,16.602565,18.822000,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190626,21.974609,2.851417,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190627,4.484500,4.010603,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190628,7.430917,5.533953,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190629,7.474792,9.006055,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
...,...,...,...,...,...,...,...,...,...,...,...
20221018,59.648775,44.425756,7.785098,3.995484,4.095699,15.217022,5.980941,5.637824,9.501286,117.669196,7.467459
20221019,49.008481,45.131791,11.062278,4.602050,5.595226,15.217022,5.646750,6.915667,9.501286,117.688819,5.922350
20221020,57.314282,55.310167,36.090788,15.024389,22.693654,15.217022,27.862864,25.996136,9.501286,130.220561,23.761873
20221021,68.504173,56.444523,25.357472,8.620153,13.949158,15.217022,17.413708,16.279917,9.501286,124.021264,13.344158
20221022,59.205616,44.434752,10.254000,4.203480,6.112711,15.217022,7.120000,6.428708,9.501286,119.772375,6.516025

In [34]:
VARModel = VAR(df).fit()
VARModel.summary()

/Users/main/opt/miniconda3/envs/RA/lib/python3.9/site-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 14, Dec, 2022
Time:                     22:58:57
--------------------------------------------------------------------
No. of Equations:         11.0000    BIC:                    39.3860
Nobs:                     1204.00    HQIC:                   39.0379
Log likelihood:          -42034.6    FPE:                7.28826e+16
AIC:                      38.8276    Det(Omega_mle):     6.53501e+16
--------------------------------------------------------------------
Results for equation Amsterdam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       6.387706         1.088960            5.866           0.000
L1.Amsterdam                0.710798         0.037650           18.879           0.000
L1.Beverwijk                0.043806         0.016717            2.620           0.009
L1.Driehuis                -0.027775         0.037654           -0.738           0.461
L1.Heemskerk               -0.038165         0.013543           -2.818           0.005
L1.IJmuiden                 0.022803         0.031201            0.731           0.465
L1.Koog aan de Zaan        -0.113609         0.036754           -3.091           0.002
L1.Uithoorn                 0.012457         0.034570            0.360           0.719
L1.Velsen-Noord            -0.035966         0.050573           -0.711           0.477
L1.Velsen-Zuid              0.008332         0.040246            0.207           0.836
L1.Wijk aan Zee             0.029870         0.012185            2.451           0.014
L1.Zaandam                 -0.082494         0.031008           -2.660           0.008
======================================================================================

Results for equation Beverwijk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       5.126753         1.031651            4.969           0.000
L1.Amsterdam               -0.062764         0.035668           -1.760           0.078
L1.Beverwijk                0.968821         0.015837           61.173           0.000
L1.Driehuis                -0.056850         0.035673           -1.594           0.111
L1.Heemskerk               -0.036424         0.012831           -2.839           0.005
L1.IJmuiden                -0.014052         0.029559           -0.475           0.635
L1.Koog aan de Zaan        -0.087573         0.034820           -2.515           0.012
L1.Uithoorn                 0.059873         0.032751            1.828           0.068
L1.Velsen-Noord            -0.147806         0.047911           -3.085           0.002
L1.Velsen-Zuid              0.022195         0.038128            0.582           0.560
L1.Wijk aan Zee            -0.003673         0.011544           -0.318           0.750
L1.Zaandam                 -0.057209         0.029376           -1.947           0.051
======================================================================================

Results for equation Driehuis
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       6.163233         1.109622            5.554           0.000
L1.Amsterdam               -0.084137         0.038364           -2.193           0.028
L1.Beverwijk                0.021623         0.017034            1.269           0.204
L1.Driehuis                 0.699363         0.038369           18.227           0.000
L1.Heemskerk               -0.017746         0.013800           -1.286           0.198
L1.IJmuiden                 0.004879         0.031793            0.153           0.878
L1.Koog aan de Zaan        -0.124005         0.037452           -3.311           0.001
L1.Uithoorn                 0.040104         0.035226            1.138           0.255
L1.Velsen-Noord            -0.067775         0.051532           -1.315           0.188
L1.Velsen-Zuid              0.030584         0.041009            0.746           0.456
L1.Wijk aan Zee            -0.000433         0.012416           -0.035           0.972
L1.Zaandam                 -0.009326         0.031596           -0.295           0.768
======================================================================================

Results for equation Heemskerk
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       5.665840         1.074342            5.274           0.000
L1.Amsterdam               -0.137172         0.037144           -3.693           0.000
L1.Beverwijk                0.005967         0.016493            0.362           0.717
L1.Driehuis                -0.071097         0.037149           -1.914           0.056
L1.Heemskerk                0.925709         0.013362           69.281           0.000
L1.IJmuiden                -0.031705         0.030782           -1.030           0.303
L1.Koog aan de Zaan        -0.089410         0.036261           -2.466           0.014
L1.Uithoorn                 0.049585         0.034106            1.454           0.146
L1.Velsen-Noord            -0.146552         0.049894           -2.937           0.003
L1.Velsen-Zuid              0.097368         0.039706            2.452           0.014
L1.Wijk aan Zee             0.009828         0.012021            0.818           0.414
L1.Zaandam                 -0.061404         0.030592           -2.007           0.045
======================================================================================

Results for equation IJmuiden
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       4.146610         0.814664            5.090           0.000
L1.Amsterdam                0.004042         0.028166            0.143           0.886
L1.Beverwijk               -0.020620         0.012506           -1.649           0.099
L1.Driehuis                -0.048342         0.028170           -1.716           0.086
L1.Heemskerk               -0.018045         0.010132           -1.781           0.075
L1.IJmuiden                 0.906648         0.023342           38.843           0.000
L1.Koog aan de Zaan        -0.117730         0.027496           -4.282           0.000
L1.Uithoorn                 0.059342         0.025862            2.295           0.022
L1.Velsen-Noord            -0.114209         0.037834           -3.019           0.003
L1.Velsen-Zuid             -0.004979         0.030108           -0.165           0.869
L1.Wijk aan Zee            -0.001968         0.009116           -0.216           0.829
L1.Zaandam                 -0.036327         0.023197           -1.566           0.117
======================================================================================

Results for equation Koog aan de Zaan
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       6.470401         0.950655            6.806           0.000
L1.Amsterdam               -0.004598         0.032868           -0.140           0.889
L1.Beverwijk               -0.003062         0.014594           -0.210           0.834
L1.Driehuis                 0.055508         0.032872            1.689           0.091
L1.Heemskerk                0.009872         0.011823            0.835           0.404
L1.IJmuiden                 0.059395         0.027238            2.181           0.029
L1.Koog aan de Zaan         0.231721         0.032086            7.222           0.000
L1.Uithoorn                 0.111811         0.030179            3.705           0.000
L1.Velsen-Noord             0.039636         0.044150            0.898           0.369
L1.Velsen-Zuid             -0.037649         0.035134           -1.072           0.284
L1.Wijk aan Zee             0.025650         0.010637            2.411           0.016
L1.Zaandam                 -0.007617         0.027070           -0.281           0.778
======================================================================================

Results for equation Uithoorn
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       5.854331         0.616117            9.502           0.000
L1.Amsterdam               -0.072038         0.021302           -3.382           0.001
L1.Beverwijk                0.047970         0.009458            5.072           0.000
L1.Driehuis                 0.008242         0.021304            0.387           0.699
L1.Heemskerk               -0.006400         0.007663           -0.835           0.404
L1.IJmuiden                -0.015032         0.017653           -0.852           0.394
L1.Koog aan de Zaan        -0.037798         0.020795           -1.818           0.069
L1.Uithoorn                 0.836529         0.019559           42.769           0.000
L1.Velsen-Noord            -0.068301         0.028613           -2.387           0.017
L1.Velsen-Zuid              0.067651         0.022770            2.971           0.003
L1.Wijk aan Zee            -0.020130         0.006894           -2.920           0.004
L1.Zaandam                  0.011391         0.017544            0.649           0.516
======================================================================================

Results for equation Velsen-Noord
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       4.105809         0.932995            4.401           0.000
L1.Amsterdam               -0.060452         0.032258           -1.874           0.061
L1.Beverwijk                0.019668         0.014323            1.373           0.170
L1.Driehuis                 0.061756         0.032261            1.914           0.056
L1.Heemskerk               -0.015857         0.011604           -1.367           0.172
L1.IJmuiden                 0.010323         0.026732            0.386           0.699
L1.Koog aan de Zaan        -0.045127         0.031490           -1.433           0.152
L1.Uithoorn                 0.055449         0.029619            1.872           0.061
L1.Velsen-Noord             0.437911         0.043330           10.107           0.000
L1.Velsen-Zuid              0.039680         0.034482            1.151           0.250
L1.Wijk aan Zee            -0.000232         0.010440           -0.022           0.982
L1.Zaandam                  0.023909         0.026567            0.900           0.368
======================================================================================

Results for equation Velsen-Zuid
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       2.729885         0.756069            3.611           0.000
L1.Amsterdam               -0.026319         0.026140           -1.007           0.314
L1.Beverwijk               -0.012996         0.011607           -1.120           0.263
L1.Driehuis                -0.008001         0.026143           -0.306           0.760
L1.Heemskerk               -0.000435         0.009403           -0.046           0.963
L1.IJmuiden                 0.017841         0.021663            0.824           0.410
L1.Koog aan de Zaan         0.015906         0.025519            0.623           0.533
L1.Uithoorn                 0.039681         0.024002            1.653           0.098
L1.Velsen-Noord            -0.035102         0.035113           -1.000           0.317
L1.Velsen-Zuid              0.641936         0.027943           22.973           0.000
L1.Wijk aan Zee             0.009922         0.008460            1.173           0.241
L1.Zaandam                  0.008743         0.021529            0.406           0.685
======================================================================================

Results for equation Wijk aan Zee
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       9.513363         1.652526            5.757           0.000
L1.Amsterdam                0.254595         0.057135            4.456           0.000
L1.Beverwijk               -0.039637         0.025369           -1.562           0.118
L1.Driehuis                -0.012652         0.057141           -0.221           0.825
L1.Heemskerk               -0.046423         0.020553           -2.259           0.024
L1.IJmuiden                 0.054413         0.047348            1.149           0.250
L1.Koog aan de Zaan        -0.137606         0.055776           -2.467           0.014
L1.Uithoorn                -0.101982         0.052461           -1.944           0.052
L1.Velsen-Noord            -0.293587         0.076746           -3.825           0.000
L1.Velsen-Zuid              0.157749         0.061074            2.583           0.010
L1.Wijk aan Zee             0.829694         0.018491           44.871           0.000
L1.Zaandam                 -0.108010         0.047055           -2.295           0.022
======================================================================================

Results for equation Zaandam
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       5.901148         1.007791            5.856           0.000
L1.Amsterdam               -0.151446         0.034844           -4.346           0.000
L1.Beverwijk                0.018841         0.015471            1.218           0.223
L1.Driehuis                 0.019052         0.034847            0.547           0.585
L1.Heemskerk               -0.024339         0.012534           -1.942           0.052
L1.IJmuiden                 0.023223         0.028875            0.804           0.421
L1.Koog aan de Zaan        -0.171538         0.034015           -5.043           0.000
L1.Uithoorn                 0.041496         0.031993            1.297           0.195
L1.Velsen-Noord            -0.079039         0.046803           -1.689           0.091
L1.Velsen-Zuid              0.010005         0.037246            0.269           0.788
L1.Wijk aan Zee             0.016802         0.011277            1.490           0.136
L1.Zaandam                  0.818104         0.028697           28.509           0.000
======================================================================================

Correlation matrix of residuals
                    Amsterdam  Beverwijk  Driehuis  Heemskerk  IJmuiden  Koog aan de Zaan  Uithoorn  Velsen-Noord  Velsen-Zuid  Wijk aan Zee   Zaandam
Amsterdam            1.000000   0.778375  0.760304   0.699395  0.727545          0.465583  0.267536      0.706515     0.483109      0.454427  0.817651
Beverwijk            0.778375   1.000000  0.746470   0.730579  0.773122          0.372833  0.151175      0.675767     0.478867      0.493677  0.665719
Driehuis             0.760304   0.746470  1.000000   0.693666  0.739571          0.423225  0.378624      0.742514     0.510051      0.408585  0.719685
Heemskerk            0.699395   0.730579  0.693666   1.000000  0.685859          0.346547  0.188845      0.631075     0.421575      0.386969  0.641684
IJmuiden             0.727545   0.773122  0.739571   0.685859  1.000000          0.384566  0.197264      0.698489     0.564177      0.475784  0.659946
Koog aan de Zaan     0.465583   0.372833  0.423225   0.346547  0.384566          1.000000  0.267808      0.390339     0.181522      0.253524  0.494875
Uithoorn             0.267536   0.151175  0.378624   0.188845  0.197264          0.267808  1.000000      0.437583     0.134487      0.014632  0.350233
Velsen-Noord         0.706515   0.675767  0.742514   0.631075  0.698489          0.390339  0.437583      1.000000     0.532979      0.367817  0.706833
Velsen-Zuid          0.483109   0.478867  0.510051   0.421575  0.564177          0.181522  0.134487      0.532979     1.000000      0.244591  0.426427
Wijk aan Zee         0.454427   0.493677  0.408585   0.386969  0.475784          0.253524  0.014632      0.367817     0.244591      1.000000  0.367950
Zaandam              0.817651   0.665719  0.719685   0.641684  0.659946          0.494875  0.350233      0.706833     0.426427      0.367950  1.000000