In [4]:
from statsmodels.tsa.api import AutoReg, VAR
from stargazer.stargazer import Stargazer
from geopy.distance import great_circle
import matplotlib.pyplot as plt
import sklearn.metrics as skm
from tqdm import tqdm
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r"C:\Users\VY72PC\OneDrive - ING\Documents\STARIMA Project\Data\pm25_weer.csv")
data["Wind"] = np.cos(data["DD"]) * (data["U"] * 1.852)
data

,id,no2,pm10,pm10_cal,pm10_fac,pm10_max,pm10_min,pm25,pm25_cal,pm25_fac,...,jaar,maand,weeknummer,dag,H,T,U,DD,FH,Wind
0,1,NaN,8.195,8.774,1.070000,8.39,8.00,4.000,1.640,0.410000,...,2019,7,28,12,14,173,86,320,60,143.934921
1,4,NaN,17.258,18.165,1.052000,20.10,15.60,11.176,4.256,0.381000,...,2019,7,28,12,14,173,86,320,60,143.934921
2,5,NaN,19.952,20.497,1.027000,24.40,16.50,10.810,3.996,0.370000,...,2019,7,28,12,14,173,86,320,60,143.934921
3,7,NaN,20.278,21.216,1.042000,24.40,16.20,11.510,4.292,0.371000,...,2019,7,28,12,14,173,86,320,60,143.934921
4,10,NaN,18.099,19.186,1.062000,21.90,14.70,8.942,3.471,0.390000,...,2019,7,28,12,14,173,86,320,60,143.934921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349808,199,33.4319,24.660,16.796,0.681103,28.50,20.50,11.910,9.877,0.829303,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349809,200,43.1974,0.000,0.000,NaN,0.00,0.00,0.000,0.000,NaN,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349810,212,2.5000,23.074,22.407,0.971261,29.30,18.29,7.887,11.534,1.461850,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349811,213,39.1156,37.694,36.569,0.970257,60.80,24.40,9.182,13.432,1.463180,...,2022,10,42,22,23,127,92,140,20,-33.704268
1349812,217,16.4588,9.600,11.136,1.160000,9.60,9.60,7.100,8.946,1.260000,...,2022,10,42,22,23,127,92,140,20,-33.704268

In [ ]:
data.columns

In [5]:
data.drop(data.iloc[:, 0:7], axis=1, inplace=True)
data.drop(["jaar", "maand", "weeknummer", "#STN", "timestamp", "components", "dag", "tijd", "T", "datum", "H", "T", "U", "weekdag", "FH", "sensortype"], axis=1, inplace=True)
# data

In [6]:
grouped_df = data.groupby(["YYYYMMDD", "tag"])["pm25", "longitude", "latitude", "Wind"].mean().copy().reset_index()

<ipython-input-6-7fe0842539fe>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = data.groupby(["YYYYMMDD", "tag"])["pm25", "longitude", "latitude", "Wind"].mean().copy().reset_index()

In [ ]:
grouped_df.head(5)

In [7]:
Locations = grouped_df["tag"].unique()
LocDict = dict()

for i in range(len(Locations)):
    LocDict[Locations[i]] = (grouped_df[grouped_df.tag == Locations[i]]["latitude"].mean(), grouped_df[grouped_df.tag == Locations[i]]["longitude"].mean())

LocDict

{'Amsterdam': (52.38556547178074, 4.901327224364788),
 'Beverwijk': (52.48636675602225, 4.6585847376827525),
 'Heemskerk': (52.50593616684639, 4.671953092146707),
 'Wijk aan Zee': (52.493443775747366, 4.5982457823463205),
 'Velsen-Noord': (52.47382287197285, 4.647238399148998),
 'Driehuis': (52.44719482753771, 4.636977030738782),
 'IJmuiden': (52.45820717461738, 4.615567828011167),
 'Velsen-Zuid': (52.46234499999992, 4.637255999999981),
 'Zaandam': (52.45848175659799, 4.824912486862416),
 'Koog aan de Zaan': (52.46407900000035, 4.811263999999972),
 'Uithoorn': (52.23809099999961, 4.808228999999986)}

In [8]:
W = np.zeros((11, 11))

for i in range(len(LocDict)):
    for j in range(len(LocDict)):
        if i != j:
            W[i, j] = 1 / great_circle(LocDict[Locations[i]], LocDict[Locations[j]]).km
            
pd.DataFrame(W)

,0,1,2,3,4,5,6,7,8,9,10
0,0.000000,0.050226,0.048748,0.042035,0.050438,0.052102,0.047633,0.050410,0.103925,0.093859,0.056891
1,0.050226,0.000000,0.424320,0.240358,0.627957,0.217623,0.233800,0.329302,0.085581,0.094041,0.033993
2,0.048748,0.424320,0.000000,0.193082,0.253583,0.143926,0.152950,0.185648,0.086023,0.095066,0.032065
3,0.042035,0.240358,0.193082,0.000000,0.251844,0.173214,0.244498,0.229791,0.063146,0.067607,0.031474
4,0.050438,0.627957,0.253583,0.251844,0.000000,0.328792,0.362306,0.692351,0.082260,0.089577,0.035210
5,0.052102,0.217623,0.143926,0.173214,0.328792,0.000000,0.526740,0.593567,0.078144,0.083627,0.038463
6,0.047633,0.233800,0.152950,0.244498,0.362306,0.526740,0.000000,0.649445,0.070501,0.075331,0.036030
7,0.050410,0.329302,0.185648,0.229791,0.692351,0.593567,0.649445,0.000000,0.078608,0.084816,0.036354
8,0.103925,0.085581,0.086023,0.063146,0.082260,0.078144,0.070501,0.078608,0.000000,0.897148,0.040762
9,0.093859,0.094041,0.095066,0.067607,0.089577,0.083627,0.075331,0.084816,0.897148,0.000000,0.039794
10,0.056891,0.033993,0.032065,0.031474,0.035210,0.038463,0.036030,0.036354,0.040762,0.039794,0.000000

In [9]:
data2 = grouped_df.copy()
data2["New"] = data2["YYYYMMDD"].astype(str)
del data2["YYYYMMDD"]

In [10]:
data2.set_index("New", inplace=True)

In [11]:
del data2["latitude"]
del data2["longitude"]
data2

                   tag        pm25       Wind
New
20190625     Amsterdam   16.602565  -8.255864
20190625     Beverwijk   18.822000 -17.750135
20190626     Amsterdam   21.974609 -14.046547
20190626     Beverwijk    2.851417   2.343418
20190627     Amsterdam    4.484500  -7.320556
...                ...         ...        ...
20221022      IJmuiden    6.112711 -15.943545
20221022      Uithoorn    7.120000 -16.526770
20221022  Velsen-Noord    6.428708 -16.526770
20221022  Wijk aan Zee  119.772375 -16.526770
20221022       Zaandam    6.516025 -16.526770

[10723 rows x 3 columns]

In [12]:
UniqueNames = data2.tag.unique()

PolDict = {elem : pd.DataFrame() for elem in UniqueNames}
WindDict = {elem : pd.DataFrame() for elem in UniqueNames}

for key in PolDict.keys():
    PolDict[key] = data2[:][data2.tag == key]
    WindDict[key] = data2[:][data2.tag == key]
    del WindDict[key]["pm25"]
    del PolDict[key]["Wind"]

PolDict["Amsterdam"]

                tag       pm25
New
20190625  Amsterdam  16.602565
20190626  Amsterdam  21.974609
20190627  Amsterdam   4.484500
20190628  Amsterdam   7.430917
20190629  Amsterdam   7.474792
...             ...        ...
20221018  Amsterdam  59.648775
20221019  Amsterdam  49.008481
20221020  Amsterdam  57.314282
20221021  Amsterdam  68.504173
20221022  Amsterdam  59.205616

[1195 rows x 2 columns]

In [13]:
for key in WindDict:
    PolDict[key].rename(columns={"pm25":key}, inplace=True)
    WindDict[key].rename(columns={"Wind":key}, inplace=True)
    del PolDict[key]["tag"]
    del WindDict[key]["tag"]

WindDict["Amsterdam"]

          Amsterdam
New
20190625  -8.255864
20190626 -14.046547
20190627  -7.320556
20190628   1.658929
20190629   1.356580
...             ...
20221018  57.190670
20221019   7.033693
20221020   8.239286
20221021 -18.565540
20221022 -15.880023

[1195 rows x 1 columns]

In [ ]:
# for key in tqdm(DataFrameDict):
#     plt.figure(figsize=(16, 8))
#     plt.plot(DataFrameDict[key].pm25, label = key)
# plt.show

In [14]:
df_pol = pd.DataFrame(PolDict["Amsterdam"].copy())
df_wind = pd.DataFrame(WindDict["Amsterdam"].copy())

for key in PolDict:
    df_pol = df_pol.combine_first(PolDict[key])
    df_wind = df_wind.combine_first(PolDict[key])

df_wind

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
New,,,,,,,,,,,
20190625,-8.255864,18.822000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190626,-14.046547,2.851417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190627,-7.320556,4.010603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190628,1.658929,5.533953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20190629,1.356580,9.006055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20221018,57.190670,44.425756,7.785098,3.995484,4.095699,NaN,5.980941,5.637824,NaN,117.669196,7.467459
20221019,7.033693,45.131791,11.062278,4.602050,5.595226,NaN,5.646750,6.915667,NaN,117.688819,5.922350
20221020,8.239286,55.310167,36.090788,15.024389,22.693654,NaN,27.862864,25.996136,NaN,130.220561,23.761873
20221021,-18.565540,56.444523,25.357472,8.620153,13.949158,NaN,17.413708,16.279917,NaN,124.021264,13.344158
20221022,-15.880023,44.434752,10.254000,4.203480,6.112711,NaN,7.120000,6.428708,NaN,119.772375,6.516025

In [15]:
for column in df_pol:
    mean_value = (df_pol[column].mean(), df_wind[column].mean())
    df_pol[column].fillna(value=mean_value[0], inplace = True)
    df_wind[column].fillna(value=mean_value[1], inplace = True)
    
df_wind

,Amsterdam,Beverwijk,Driehuis,Heemskerk,IJmuiden,Koog aan de Zaan,Uithoorn,Velsen-Noord,Velsen-Zuid,Wijk aan Zee,Zaandam
New,,,,,,,,,,,
20190625,-8.255864,18.822000,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190626,-14.046547,2.851417,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190627,-7.320556,4.010603,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190628,1.658929,5.533953,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
20190629,1.356580,9.006055,12.833248,17.620544,10.040674,15.217022,29.655720,10.477617,9.501286,24.129598,12.378897
...,...,...,...,...,...,...,...,...,...,...,...
20221018,57.190670,44.425756,7.785098,3.995484,4.095699,15.217022,5.980941,5.637824,9.501286,117.669196,7.467459
20221019,7.033693,45.131791,11.062278,4.602050,5.595226,15.217022,5.646750,6.915667,9.501286,117.688819,5.922350
20221020,8.239286,55.310167,36.090788,15.024389,22.693654,15.217022,27.862864,25.996136,9.501286,130.220561,23.761873
20221021,-18.565540,56.444523,25.357472,8.620153,13.949158,15.217022,17.413708,16.279917,9.501286,124.021264,13.344158
20221022,-15.880023,44.434752,10.254000,4.203480,6.112711,15.217022,7.120000,6.428708,9.501286,119.772375,6.516025

In [ ]:
VARModel = VAR(df_pol).fit()

In [ ]:
WY = pd.DataFrame(np.matmul(df_pol.to_numpy(), W))

i = 0
for key in PolDict:
    WY.rename(columns={i:f'{key}'}, inplace=True)
    i += 1

WY

In [ ]:
SVAR = VAR(WY).fit()
SVAR.summary()

In [16]:
WW = list()

for i in range(len(df_wind)):
    wind = np.zeros((len(df_wind.columns), len(df_wind.columns)))
    
    for j in range(len(df_wind.columns)):

        if df_wind.iloc[i, j] != 0:
            wind[:, j] = W[:, j] + 1 / df_wind.iloc[i, j]
        else:
            wind[:, j] = W[:, j]

    WW.append(wind)

In [17]:
WWY = np.zeros((len(df_pol), len(df_pol.columns)))

for i in range(len(df_pol)):
    WWY[i, :] = np.matmul(df_pol.iloc[i, :].to_numpy(), WW[i])

WWY = pd.DataFrame(WWY)

# i = 0
# for key in PolDict:
#     WWY.rename(columns={i:f'{key}'}, inplace=True)
#     i += 1

WWY

,0,1,2,3,4,5,6,7,8,9,10
0,-11.965021,43.436811,40.737557,35.204544,64.385599,49.888109,38.831773,68.873574,51.293132,27.397866,20.607236
1,-3.160338,92.743279,33.396931,30.990210,53.572160,45.995939,34.996354,62.873686,49.369164,25.960965,19.513790
2,-11.773827,70.897511,31.763650,29.606825,51.791435,44.263742,33.883581,60.815085,45.931899,23.751565,17.238903
3,102.165642,61.533730,32.901963,30.350494,53.341810,45.042506,34.530809,61.891858,46.838912,24.356611,17.819392
4,125.731726,51.140642,34.651358,31.386425,55.874526,46.031458,35.463236,63.373012,47.510669,24.832960,18.223946
...,...,...,...,...,...,...,...,...,...,...,...
1200,21.724686,34.865371,76.112255,100.339636,125.257065,51.795902,85.412994,96.667865,148.804572,24.567674,49.185574
1201,56.343829,36.888115,65.355851,90.838123,107.526228,52.652303,88.915551,87.912760,147.694058,24.099965,57.781990
1202,75.158738,75.883263,71.764820,81.848303,115.401550,100.468990,84.348969,102.868280,183.701276,35.324027,33.306510
1203,1.110264,57.236656,67.941068,87.661026,108.873984,80.271160,77.751593,93.123855,170.129193,31.973472,42.145197
1204,-0.911674,38.063436,69.148755,100.141550,105.562009,54.520481,80.694494,94.435623,151.913957,25.090695,56.100373

In [18]:
SWVAR = VAR(WWY).fit()
SWVAR.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Mon, 19, Dec, 2022
Time:                     10:51:49
--------------------------------------------------------------------
No. of Equations:         11.0000    BIC:                    68.1168
Nobs:                     1204.00    HQIC:                   67.7687
Log likelihood:          -59330.6    FPE:                2.18896e+29
AIC:                      67.5584    Det(Omega_mle):     1.96272e+29
--------------------------------------------------------------------
Results for equation 0
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        27.948458        27.673061            1.010           0.313
L1.0          0.001024         0.028948            0.035           0.972
L1.1         -0.289760         0.589716           -0.491           0.623
L1.2          0.625127         0.705680            0.886           0.376
L1.3         -0.137937         0.328491           -0.420           0.675
L1.4         -0.005454         0.025081           -0.217           0.828
L1.5          0.578730         0.616574            0.939           0.348
L1.6         -0.601173         0.509678           -1.180           0.238
L1.7         -0.297011         0.564787           -0.526           0.599
L1.8          0.135342         0.235872            0.574           0.566
L1.9         -0.228880         0.326443           -0.701           0.483
L1.10        -0.238486         0.653137           -0.365           0.715
========================================================================

Results for equation 1
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        16.974402         1.680409           10.101           0.000
L1.0          0.002224         0.001758            1.265           0.206
L1.1          0.747176         0.035810           20.865           0.000
L1.2          0.017022         0.042851            0.397           0.691
L1.3          0.004409         0.019947            0.221           0.825
L1.4         -0.000702         0.001523           -0.461           0.645
L1.5         -0.006897         0.037441           -0.184           0.854
L1.6         -0.073954         0.030949           -2.390           0.017
L1.7         -0.037815         0.034296           -1.103           0.270
L1.8         -0.015565         0.014323           -1.087           0.277
L1.9         -0.029079         0.019823           -1.467           0.142
L1.10         0.081740         0.039661            2.061           0.039
========================================================================

Results for equation 2
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        10.809877         1.521733            7.104           0.000
L1.0          0.000231         0.001592            0.145           0.885
L1.1         -0.109900         0.032428           -3.389           0.001
L1.2          0.638328         0.038805           16.450           0.000
L1.3          0.075043         0.018064            4.154           0.000
L1.4          0.000216         0.001379            0.157           0.875
L1.5          0.084327         0.033905            2.487           0.013
L1.6         -0.050760         0.028027           -1.811           0.070
L1.7          0.069559         0.031057            2.240           0.025
L1.8          0.009428         0.012971            0.727           0.467
L1.9         -0.007006         0.017951           -0.390           0.696
L1.10         0.032310         0.035916            0.900           0.368
========================================================================

Results for equation 3
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const         9.926738         1.588977            6.247           0.000
L1.0         -0.001896         0.001662           -1.140           0.254
L1.1         -0.126141         0.033861           -3.725           0.000
L1.2         -0.043439         0.040520           -1.072           0.284
L1.3          0.903340         0.018862           47.893           0.000
L1.4          0.000225         0.001440            0.156           0.876
L1.5          0.114289         0.035403            3.228           0.001
L1.6         -0.044108         0.029265           -1.507           0.132
L1.7         -0.008533         0.032430           -0.263           0.792
L1.8          0.024200         0.013544            1.787           0.074
L1.9         -0.019421         0.018744           -1.036           0.300
L1.10        -0.024617         0.037503           -0.656           0.512
========================================================================

Results for equation 4
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        49.801842        31.871368            1.563           0.118
L1.0         -0.006434         0.033340           -0.193           0.847
L1.1         -1.622185         0.679182           -2.388           0.017
L1.2          1.258555         0.812739            1.549           0.121
L1.3         -0.264383         0.378326           -0.699           0.485
L1.4          0.045299         0.028887            1.568           0.117
L1.5          1.222596         0.710115            1.722           0.085
L1.6          0.264710         0.587001            0.451           0.652
L1.7         -1.194967         0.650472           -1.837           0.066
L1.8          0.166395         0.271656            0.613           0.540
L1.9          0.874822         0.375968            2.327           0.020
L1.10         1.763069         0.752225            2.344           0.019
========================================================================

Results for equation 5
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        17.784043         1.785512            9.960           0.000
L1.0          0.001752         0.001868            0.938           0.348
L1.1         -0.095180         0.038049           -2.501           0.012
L1.2          0.005093         0.045532            0.112           0.911
L1.3          0.036836         0.021195            1.738           0.082
L1.4          0.001172         0.001618            0.724           0.469
L1.5          0.658329         0.039782           16.548           0.000
L1.6         -0.055929         0.032885           -1.701           0.089
L1.7          0.073377         0.036441            2.014           0.044
L1.8         -0.020156         0.015219           -1.324           0.185
L1.9          0.024122         0.021063            1.145           0.252
L1.10        -0.030721         0.042142           -0.729           0.466
========================================================================

Results for equation 6
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        12.151151         2.238278            5.429           0.000
L1.0          0.001104         0.002341            0.471           0.637
L1.1         -0.102334         0.047698           -2.145           0.032
L1.2         -0.025193         0.057077           -0.441           0.659
L1.3          0.082653         0.026569            3.111           0.002
L1.4         -0.000327         0.002029           -0.161           0.872
L1.5          0.032047         0.049870            0.643           0.520
L1.6          0.590589         0.041224           14.326           0.000
L1.7          0.040217         0.045682            0.880           0.379
L1.8          0.029229         0.019078            1.532           0.126
L1.9         -0.038873         0.026404           -1.472           0.141
L1.10         0.101721         0.052828            1.926           0.054
========================================================================

Results for equation 7
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        19.387717         2.357735            8.223           0.000
L1.0         -0.000106         0.002466           -0.043           0.966
L1.1         -0.059841         0.050244           -1.191           0.234
L1.2          0.112643         0.060124            1.874           0.061
L1.3          0.089305         0.027987            3.191           0.001
L1.4         -0.000984         0.002137           -0.461           0.645
L1.5          0.173156         0.052532            3.296           0.001
L1.6         -0.067588         0.043424           -1.556           0.120
L1.7          0.537227         0.048120           11.164           0.000
L1.8         -0.006443         0.020096           -0.321           0.749
L1.9         -0.009670         0.027813           -0.348           0.728
L1.10         0.203697         0.055647            3.661           0.000
========================================================================

Results for equation 8
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        18.115496         2.854806            6.346           0.000
L1.0         -0.000719         0.002986           -0.241           0.810
L1.1         -0.112866         0.060836           -1.855           0.064
L1.2         -0.026579         0.072799           -0.365           0.715
L1.3          0.103231         0.033888            3.046           0.002
L1.4         -0.001210         0.002587           -0.468           0.640
L1.5         -0.103724         0.063607           -1.631           0.103
L1.6          0.084631         0.052579            1.610           0.107
L1.7         -0.051163         0.058265           -0.878           0.380
L1.8          0.760102         0.024333           31.237           0.000
L1.9         -0.031866         0.033677           -0.946           0.344
L1.10         0.139450         0.067379            2.070           0.038
========================================================================

Results for equation 9
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const        11.855442         2.033099            5.831           0.000
L1.0          0.000973         0.002127            0.458           0.647
L1.1         -0.129942         0.043326           -2.999           0.003
L1.2          0.008067         0.051845            0.156           0.876
L1.3         -0.011021         0.024134           -0.457           0.648
L1.4          0.000377         0.001843            0.205           0.838
L1.5          0.235388         0.045299            5.196           0.000
L1.6         -0.084642         0.037445           -2.260           0.024
L1.7          0.049396         0.041494            1.190           0.234
L1.8         -0.047812         0.017329           -2.759           0.006
L1.9          0.626753         0.023983           26.133           0.000
L1.10        -0.032579         0.047985           -0.679           0.497
========================================================================

Results for equation 10
========================================================================
           coefficient       std. error           t-stat            prob
------------------------------------------------------------------------
const         6.411162         1.244688            5.151           0.000
L1.0         -0.000393         0.001302           -0.302           0.763
L1.1         -0.045701         0.026524           -1.723           0.085
L1.2          0.063703         0.031740            2.007           0.045
L1.3          0.005679         0.014775            0.384           0.701
L1.4          0.000026         0.001128            0.023           0.982
L1.5         -0.066792         0.027732           -2.408           0.016
L1.6          0.047423         0.022924            2.069           0.039
L1.7          0.045194         0.025403            1.779           0.075
L1.8          0.035595         0.010609            3.355           0.001
L1.9          0.003033         0.014683            0.207           0.836
L1.10         0.571298         0.029377           19.447           0.000
========================================================================

Correlation matrix of residuals
             0         1         2         3         4         5         6         7         8         9        10
0     1.000000  0.005906  0.036221  0.026347 -0.005715  0.022503  0.017303  0.012388  0.009149  0.034693  0.001463
1     0.005906  1.000000  0.452644  0.390673 -0.000280  0.811442  0.763513  0.586094  0.562453  0.293921  0.035453
2     0.036221  0.452644  1.000000  0.518396 -0.084933  0.471996  0.640677  0.760450  0.434656  0.172079  0.373750
3     0.026347  0.390673  0.518396  1.000000 -0.088844  0.363955  0.512087  0.537544  0.411068  0.122214  0.302579
4    -0.005715 -0.000280 -0.084933 -0.088844  1.000000  0.023535 -0.026375 -0.052583 -0.070348  0.037996 -0.030622
5     0.022503  0.811442  0.471996  0.363955  0.023535  1.000000  0.742756  0.452388  0.536102  0.284078  0.015883
6     0.017303  0.763513  0.640677  0.512087 -0.026375  0.742756  1.000000  0.660339  0.555973  0.246854  0.201435
7     0.012388  0.586094  0.760450  0.537544 -0.052583  0.452388  0.660339  1.000000  0.470176  0.209268  0.481084
8     0.009149  0.562453  0.434656  0.411068 -0.070348  0.536102  0.555973  0.470176  1.000000  0.064526  0.112367
9     0.034693  0.293921  0.172079  0.122214  0.037996  0.284078  0.246854  0.209268  0.064526  1.000000  0.001989
10    0.001463  0.035453  0.373750  0.302579 -0.030622  0.015883  0.201435  0.481084  0.112367  0.001989  1.000000

In [19]:
for key in PolDict:
    R2 = skm.r2_score(SWVAR.fittedvalues[key] + SWVAR.resid[key], SWVAR.fittedvalues[key])
    print(F'The R-Squared of {key} is: {R2*100:.2f}%')

    # y = SWVAR.fittedvalues['foobar'] + SWVAR.resid['foobar']
    # R2 = 1 - np.sum(SWVAR.resid['foobar'].values ** 2) / np.sum((y.values - y.mean()) ** 2)

KeyError: 'Amsterdam'